<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label class="col-xs-12">{{'PROPERTY.ASSIGNMENT.CANDIDATE_GROUPS' | translate}}</label>
                        <div class="col-xs-12" ng-repeat="candidateGroup in assignment.candidateGroups" style="margin-top:5px;">
                            <input select2 id="groupField" type="text" name="groupFieldName" ng-model="candidateGroup.value" config="groupConfig" class="col-xs-11" />
                            <i class="glyphicon glyphicon-minus clickable-property" ng-click="removeCandidateGroupValue($index)"></i>
                            <i ng-if="$index == (assignment.candidateGroups.length - 1)" class="glyphicon glyphicon-plus clickable-property" ng-click="addCandidateGroupValue($index);"></i>
                        </div>
                    </div>
                </div>
                <div class="row row-no-gutter">
                    <div class="form-group">
                    <label class="col-xs-12">{{'PROPERTY.ASSIGNMENT.SIGN_TYPE' | translate}}</label>
                        <div class="col-xs-12" style="margin-top:5px;">
                            <select select2 name="signTypeSelect" ng-model="sign_type" class="col-xs-6" style="height: 30px;margin-right:5px;margin-top:5px;">
                                <option value="None">竞签</option>
                                <option value="Parallel">会签</option>
                            </select>
                            <select select2 name="decisionTypeSelect" ng-model="decision_type" ng-show="sign_type == 'Parallel'"  class="col-xs-6" style="height: 30px;margin-right:5px;margin-top:5px;">
                                <option value="1">通过</option>
                                <option value="0">拒绝</option>
                            </select>
                            <select select2 name="voteTypeSelect" ng-model="vote_type" ng-show="sign_type == 'Parallel'"  class="col-xs-6" style="height: 30px;margin-right:5px;margin-top:5px;">
                                <option value="0">绝对票数</option>
                                <option value="1">百分比</option>
                            </select>
                            <input type="text" id="condition" ng-model="condition" ng-show="sign_type == 'Parallel'" class="col-xs-6" style="margin-top:5px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>