
<div class="modal" ng-controller="KisBpmConditionExpressionPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.SEQUENCEFLOW.CONDITION.TITLE</h2>
            </div>
            <div class="modal-body">

                <div class="detail-group clearfix">

                    <div class="form-group clearfix" style="display: none">
                        <div class="col-xs-12">
                            <label class="col-xs-3">{{'PROPERTY.SEQUENCEFLOW.CONDITION.STATIC' | translate}}</label>
                            <div class="col-xs-9">
                                <textarea id="ruleTextarea" class="form-control" ng-model="conditionExpression.value" style="width:90%; height:100%; max-width: 100%; max-height: 100%; min-height: 100px"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-xs-12">{{'PROPERTY.SEQUENCEFLOW.CONDITION.STATIC_RULES' | translate}}</label>
                        <div class="col-xs-12">
                            <div class="col-xs-12" ng-repeat="rule in rules" style="margin-top: 5px;">
                                <select select2 name="nameSelect" class="col-xs-3" style="height: 30px;margin-right:5px;" ng-change="changeName($index)" ng-model="selectedName" ng-init="selectedName = rule.name">
                                    <option value="OrderManagement.getTotalAmount(execution)">交易金额</option>
                                    <option value="OrderManagement.getTlCurrency(execution)">币种</option>
                                    <option value="OrderManagement.getRiskDegree(execution)">风险程度</option>
                                    <option value="OrderManagement.getBondRating(execution)">主体评级</option>
                                    <option value="OrderManagement.getMyDir(execution)">交易方向</option>
                                    <option value="OrderManagement.getBondProperties(execution)">债券类型</option>
                                    <option value="OrderManagement.getProduct(execution)">产品代码</option>
                                    <option value="OrderManagement.getProdType(execution)">产品类型</option>
                                    <option value="OrderManagement.getCost(execution)">成本中心</option>
                                    <option value="OrderManagement.isTrader(execution)">是否交易员</option>
                                    <option value="OrderManagement.isLimitAmount(execution)">是否限额</option>
                                </select>
                                <select select2 name="typeSelect" class="col-xs-3" style="height: 30px;margin-right:5px;" ng-model="rule.type">
                                    <option ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'
                                                    || rule.name == 'OrderManagement.getBondRating(execution)'"
                                            value="<">小于</option>
                                    <option ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'
                                                    || rule.name == 'OrderManagement.getBondRating(execution)'"
                                            value="<=">小于等于</option>
                                    <option ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'
                                                    || rule.name == 'OrderManagement.getBondRating(execution)'"
                                            value=">">大于</option>
                                    <option ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'
                                                    || rule.name == 'OrderManagement.getBondRating(execution)'"
                                            value=">=">大于等于</option>
                                    <option ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'
                                                    || rule.name == 'OrderManagement.getTlCurrency(execution)'
                                                    || rule.name == 'OrderManagement.getRiskDegree(execution)'
                                                    || rule.name == 'OrderManagement.getBondRating(execution)'
                                                    || rule.name == 'OrderManagement.getMyDir(execution)'
                                                    || rule.name == 'OrderManagement.getBondProperties(execution)'
                                                    || rule.name == 'OrderManagement.getProduct(execution)'
                                                    || rule.name == 'OrderManagement.getProdType(execution)'
                                                    || rule.name == 'OrderManagement.getCost(execution)'
                                                    || rule.name == 'OrderManagement.isTrader(execution)'
													|| rule.name == 'OrderManagement.isLimitAmount(execution)'"
                                            value="==">等于</option>
                                    <option ng-show="rule.name == 'OrderManagement.getTlCurrency(execution)" value="(in)"></option>
                                </select>
                                <input ng-show="rule.name == 'OrderManagement.getTotalAmount(execution)'"
                                       onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"
                                       name="valueSelect" type="text" class="col-xs-5" style="height: 30px;" ng-model="rule.value"/>
                                <select ng-show="rule.name == 'OrderManagement.getRiskDegree(execution)'"
                                        select2 class="col-xs-5" name="riskSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in riskLevelConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getBondRating(execution)'"
                                        select2 class="col-xs-5" name="ratingSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in mainLevelConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getMyDir(execution)'"
                                        select2 class="col-xs-5" name="dirSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in tradeDirectionConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getBondProperties(execution)'"
                                		select2 class="col-xs-5" name="bondSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in bondTypeConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getProduct(execution)'"
                                		select2 class="col-xs-5" name="bondSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in productConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getProdType(execution)'"
                                		select2 class="col-xs-5" name="bondSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in prodTypeConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.getCost(execution)'"
                                		select2 class="col-xs-5" name="bondSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in costConfig">{{ item.text }}</option>
                                </select>                                                                
                                <select ng-show="rule.name == 'OrderManagement.getTlCurrency(execution)'"
                                        select2 class="col-xs-5" name="currencySelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in currencyConfig">{{ item.text }}</option>
                                </select>
                                <select ng-show="rule.name == 'OrderManagement.isTrader(execution)'"
                                        select2 class="col-xs-5" name="traderSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in optionConfig">{{ item.text }}</option>
                                </select>
								<select ng-show="rule.name == 'OrderManagement.isLimitAmount(execution)'"
                                        select2 class="col-xs-5" name="limitAmountSelect" ng-model="selectedOption"
                                        ng-init="selectedOption = rule.value">
                                    <option value="{{ item.value }}" ng-repeat="item in optionConfig">{{ item.text }}</option>
                                </select>
                                <i class="glyphicon glyphicon-minus clickable-property" ng-click="removeRule($index)"></i>
                                <i ng-if="$index == (rules.length - 1)" class="glyphicon glyphicon-plus clickable-property"
                                   ng-click="addRule($index);"></i>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                    <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>