<div class="modal" ng-controller="KisBpmServiceTaskExpressionPopCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
				<h2 translate>PROPERTY.SEQUENCEFLOW.CONDITION.TITLE</h2>
			</div>
			<div class="modal-body">

				<div class="detail-group clearfix">

					<div class="form-group clearfix">
						<div class="col-xs-12">
							<select select2 class="col-xs-8" ng-model="property.value">
								<option value="${CreditManagement.UseCredit(execution)}">额度占用</option>
								<option value="${CreditManagement.ReleaseCredit(execution)}">额度释放</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
						<button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>