body{
    background: #f2f2f2!important;
    padding-left: 0 10px;
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after {
content:"";
display:table;
}
.clearfix:after{clear:both;}
.clearfix{
*zoom:1;/*IE/7/6*/
}
a{ text-decoration:none;color: #333;cursor: pointer; }
.main_box{
    /* padding-left: 15px; */
    
}
.cockpit_1{
    
}
.cockpit_common{
    width: 50%;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;        
}
.cockpit_common2{
    width: 33%;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;        
}
h1{
    font-size: 18px;
}
.h1_title{
    line-height:36px;
    padding-left:20px;
    border-bottom: 1px solid #999;
}
.tools_box{
    width: 33.3%;
    float:left;
    text-align: center;
    padding-top: 20px; 
}
.tools_box i{
    display: inline-block;
    width: 78px;
    height: 78px;
}
.tools_1{
    background: url(../images/tools_1.png) center center no-repeat;
}
.trade-tools{
    width: 78px;
    height: 78px;
    float: left;
    /* border: 1px solid #ccc; */
    /* margin: 0 auto; */
    vertical-align:middle;
    display:table-cell;
}
.tools_1{
    background: url(../images/tools_1.png) center center no-repeat;
}
.tools_name{
    position: absolute;
    top: 90px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.mini-grid-rows-view{
    /* box-sizing: border-box; */
    overflow: hidden;
}
.point{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #5ab1ef;
    display: inline-block;
}
.sys_title{
    padding:0 20px 0 5px;
    display: inline-block;
    /* font-size: 16px; */
    font-weight: bold;
}
.sys_list{
    line-height: 36px;
    
}
.type_select{
    position:absolute;
    top:10px;
    right:20px;
}
.type_select .mini-labelfield-label{
    background-color:transparent;
    border:none;
    width: 145px;
}
.myBusiness_select{
    position:absolute;
    top:10px;
    left: 20px;
}
#search_form{
    position:absolute;
    top:4px;
    right:0px;
}
td div{
    text-align: center;
}
/* mini-buttonedit-border */
.mg_r15{
    margin-right: 15px;
}
.main_box .bd_r15{
    border-right: #f2f2f2 solid 15px;
}
.grap{
    width: 1%;
    float: left;
    background-color: #f2f2f2;
    height: 400px;
}
body .mini-grid-columns-view{
	padding-right:0!important;
}