<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fund-cfetsRmb">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="fund-cfetsCpisApi-1.0.2-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/FundCfetsCpisApi/FundCfetsCpisApi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fund-pojo-1.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/FundPojo/FundPojo">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fund-capitalApi-1.0.2-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/FundCapitalApi/FundCapitalApi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fund-cfetsRmbApi-1.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/FundCfetsRmbApi/FundCfetsRmbApi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="fund-cfetsRmb"/>
        <property name="java-output-path" value="/ServiceCfetsRMBWeb/target/classes"/>
    </wb-module>
</project-modules>
