﻿.fieldset-item, .item-ghost, .fieldset-item-ghost
{
    border:solid 1px green;
    background:white;
    width:300px;
    min-height:50px;
    /*line-height:50px;        */
    padding:0px;
    text-align:center;
    margin:auto;
    cursor:move;
    box-sizing:border-box;
    vertical-align:middle;
}

.item-ghost, .fieldset-item-ghost
{
    border:dashed 2px #000;
    background:white;
    opacity:0.6;
    display:block;
}

.fieldcontainer .fieldset-item
{
    cursor:default;
}

.fieldcontainer .item-ghost
{
    display:inline-block;
}

.fieldset-fields
{
    
    text-align:left;
}

.field-item
{
    width:50%;
    line-height:35px;
    height:35px;
    display:inline-block;
    border:solid 1px green;
    background:white;    
    text-align:center;
    cursor:move;    
    box-sizing:border-box;
    vertical-align:middle;
}

.field-item.full
{
    width:100%;
    margin:0;
}

.fieldcontainer .item-ghost
{
    width:50%;
    min-height:auto;
    height:35px;
}
.fieldcontainer .item-ghost.full
{
    width:100%;
}



.fieldset-item-header
{
    padding:2px;
    height: 46px;
    width: 296px;
    display: inline-block;
    line-height:50px;
}
.fieldcontainer-draggable .fieldset-item .fieldset-item-header:hover
{
    cursor:move;
    background:#ccc;
}

