html {
    font-size: 14px;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
    color: #000;
    background-size: cover;
    margin:0px;
    height:100%;
}

body{
    min-height: 100%;
}

img {
    border: 0
}

.cf:after, .cf:before {
    display: table;
    content: ""
}

.cf:after {
    clear: both
}


.main-box .main-content {
    height: 800px;
    padding-bottom: 10.21%;
    background-image: url(bg.jpg);
    background-size: 100% 100%;
}

.main-content {

}


.login-logo{
    width: 100%;
    height: 75px;
    margin: 0px 0px 0px -344px;
    display: inline-block;
    text-indent: -9999px;
    float: left;
    overflow: hidden;
}
.login-text{
    width: 346px;
    height: 60px;
    margin: -1px;
    font-size: larger;
    display: inline-block;

    /*color: #122a49;*/
}

.login-text > h3{
    font-size: 31px;
    margin: 10px 0 0 53px;
    text-align: left;
    font-family: cursive;
    font-weight: bolder;
    color: #122a49;
}

.login-text > h5 {
    font-size: 19px;
    margin: 5px 0 0 20px;
    text-align: left;
    font-family: cursive;
    color: #000000;
}


.login-body {
    /*width: 800px;*/
    margin: 10% 10% 0 0;
    /*border-radius: 55px;*/
    /*box-shadow: 0 2px 8px #aab;*/
    overflow: hidden;
    float: right;
    display: inline-block;
}

.login-body .pr {
    position: relative;
    width: 576px;
    margin: 47px 0 26px 214px;
    background-color: rgba(0,0,0,0.5);
}

.login-form {
    width: 100%;
    margin: 0 auto;
    padding: 40px 40px 18px 40px
}

.login-form .input-group {
    margin-bottom: 45px;
    border-radius: 4px
}

.login-form .input-group .input-group-addon {
    width: 43px;
    border: none;
    /*background: #fff*/
}

.login-form .input-group .input-group-addon i {
    color: rgba(38, 43, 54, .9);
    font-size: 24px
}

.login-form .input-group > input {
    border: none;
    padding: 10px 20px;
    color: grey;
    height: 77px;
    font-size:26px;
}

.login-form .input-group .btn {
    background-color: #fff;
    border: none;
    font-size: 24px;
    padding: 6px 14px
}

.login-form h3{font-size:26px;font-weight:500;padding:0;line-height:30px;text-align:center;color:#259dab}
.login-form h5{font-size:20px;font-weight:400;line-height:30px;text-align:center;color:#259dab; border-bottom:1px solid #555; padding-bottom: 10px}
.login-form h5 ul{ margin-top: 8px}
.login-form h5 a{ font-size: 14px; color: #fff}

.login-form .check-tips {
    color: #fff;
    margin-top: 10px
}

.login-form .item-box {
    margin-top: 5px
}

.login-form .item-box .item {
    border-radius: 5px
}

.login-form .item {
    padding: 3px 10px 3px 12px;
    border: 1px solid #ececec;
    background-color: #fff;
    margin-bottom: 10px
}

.login-form .focus {
    border: 1px solid #A6E1F3;
    box-shadow: 0 0 12px #BAF7FF
}

.login-form .login_btn_panel {
    margin: 15px 0 25px
}

.login-form .login_btn_panel button {
    border: none;
    height:66px;
    font-size: 26px;
}

.login-form .login-btn {
    border-radius: 3px
}

.login-form .login-btn[disabled] {
    opacity: .6;
    filter: alpha(opacity=60);
    cursor: default;
    box-shadow: none
}

.login-form .login-btn .in {
    display: none
}

.login-form .log-in .in {
    display: inline-block
}

.login-form .log-in .on {
    display: none
}

.icon-loading {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    background: url(../images/loading_icon.gif) no-repeat 0 0
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

img.verifyimg {
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 99;
    border-radius: 0 4px 4px 0
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0 4px 4px 0
}

.login-form .input-group {
    width: 100%
}

.login-main input {
    box-shadow: none;
    border: none;
    border-radius: 0 4px 4px 0
}


.use-mobile-a {
    margin-top: 20px
}

.use-qrcode-a {
    margin-top: 20px;
    text-align: right
}

