﻿.mini-upload
{
    width: 80px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 3px;
    cursor: pointer;
    background: transparent;
}
.mini-upload-placeholder
{
    display: inline-block;
    width: 100%;
    height: 100%;
   
}
.mini-upload-button
{
    position: absolute;
    left: 5px;
    height: 100%;
    line-height: 20px;
}
.upicon-remove
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("cancel.gif") no-repeat 50% 50%;
    cursor: pointer;
}


/*上传表格上传进度样式*/
.progressbar
{
    position: relative;
    background: #bbb;
    width: 100%;
    height: 16px;
    overflow: hidden;
}
.progressbar-percent
{
    position: absolute;
    height: 18px;
    background: blue;
    left: 0;
    top: 0px;
    overflow: hidden;
    z-index: 1;
}
.progressbar-label
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: White;
    z-index: 10;
    text-align: center;
    height: 16px;
    line-height: 16px;
}
