.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

.clearfix {
	height: 1%
}

.clearfix {
	display: block;
	overflow: hidden
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.alert {
	margin-bottom: 20px;
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	color: #888
}

.alert .close {
	float: right;
	font-size: 12px;
	color: #999
}

.alert .close:hover {
	text-decoration: none
}

.alert.alert-warning {
	background: #fff5db;
	color: #e2ba89;
	border-color: #ffe195
}

.alert.alert-error {
	background: #fceee8;
	color: #fc0000;
	border-color: #fc0000
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
	-webkit-border-radius: 0
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px
}

::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: #b8b8b8;
	-webkit-border-radius: 6px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5
}

::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #878987;
	-webkit-border-radius: 6px
}

@font-face {
	font-family: 'iconfont';
	src: url('../fonts/iconfont.eot?1464535104');
	src: url('../fonts/iconfont.eot?&1464535104#iefix')
		format("embedded-opentype"), url('../fonts/iconfont.woff?1464535104')
		format("woff"), url('../fonts/iconfont.ttf?1464535104')
		format("truetype"), url('../fonts/iconfont.svg?1464535104#iconfont')
		format("svg")
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}

.kv-table {
	border-right: 1px solid #cacaca \9;
	*border-right: 1px solid #cacaca
}

.kv-table .kv-table-row {
	border-bottom: 1px solid #cacaca
}

.kv-table .kv-table-row .kv-item {
	padding-left: 134px
}

.kv-table .kv-table-row .kv-item .kv-label {
	float: left;
	padding: 0 10px;
	margin-left: -134px;
	width: 112px;
	background: #f5f5f5;
	border: 1px solid #cacaca;
	border-bottom: none;
	border-top: none
}

.kv-table .kv-table-row .kv-item .kv-content-wrap {
	float: left;
	width: 100%
}

.kv-table .kv-table-row .kv-item .kv-content {
	padding: 10px
}

.kv-table .kv-table-row.col-3 .kv-item-wrap {
	float: left;
	width: 33.33%
}

.kv-table .kv-table-row.col-2 .kv-item-wrap {
	float: left;
	width: 33.33%
}

table.kv-table {
	width: 100%
}

table.kv-table .kv-label {
	padding: 0 10px;
	width: 114px;
	background: #f5f5f5;
	border: 1px solid #cacaca;
	border-top: none
}

table.kv-table td.kv-content, table.kv-table td.kv-label {
	height: 29px;
	padding: 5px 0;
	border-bottom: 1px solid #cacaca;
	font-size: 12px;
	padding-left: 20px
}

table.kv-table tr:first-child td.kv-content, table.kv-table tr:first-child td.kv-label
	{
	border-top: 1px solid #cacaca
}

table.kv-table tr td.kv-content:last-child {
	border-right: 1px solid #cacaca
}

table.kv-table tr .button {
	text-align: center;
	border-radius: 0;
	text-indent: 0;
	height: 32px
}

table.kv-table .kv-content {
	width: 260px;
	padding: 5px 10px
}

table.kv-table .textarea-wrap textarea {
	width: 98%
}