#workbench {
	min-width: 1220px;
	position: relative
}

#workbench .todo-panel {
	position: absolute;
	height: 515px;
	border: 1px solid #cbcbcb;
	background-color: #fff;
	box-shadow: 0 2px 0 0 #cbcbcb;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	display: none
}

#workbench .todo-panel .todo-title {
	position: relative;
	height: 111px
}

#workbench .todo-panel .todo-title i {
	position: absolute;
	font-size: 43px;
	left: -2px;
	top: 22px;
	color: #1da02b
}

#workbench .todo-panel .todo-title span.num {
	position: absolute;
	left: 60px;
	top: 30px;
	font-size: 32px;
	color: #f45438
}

#workbench .todo-panel .todo-title span.num span {
	font-size: 14px;
	color: #000
}

#workbench .todo-panel .todo-title label {
	position: absolute;
	top: 70px;
	font-size: 14px;
	left: 60px;
	color: #000
}

#workbench .todo-panel .todo-items {
	overflow-y: auto;
	height: 354px
}

#workbench .todo-panel .todo-items ul li {
	list-style: none;
	font-size: 14px;
	color: #000;
	padding-left: 15px;
	padding-right: 20px;
	line-height: 31px;
	height: 31px
}

#workbench .todo-panel .todo-items ul li>span {
	position: relative;
	display: inline-block;
	background-color: #1da02b;
	width: 3px;
	height: 3px;
	top: -14px;
	margin-right: 3px
}

#workbench .todo-panel .todo-items ul li a {
	display: inline-block;
	color: #000;
	text-decoration: none;
	width: 80%
}

#workbench .todo-panel .todo-items ul li a:hover {
	text-decoration: underline
}

#workbench .todo-panel .todo-items ul li a>span {
	color: #f45438
}

#workbench .todo-panel .todo-items ul li a i {
	display: inline-block;
	width: 27px;
	height: 11px;
	background: url(../images/new.png);
	margin-left: 5px
}

#workbench .todo-panel .todo-items ul li label {
	float: right;
	color: #b8b8b8
}

#bd .bd-content {
	position: relative;
	padding-right: 300px
}

#bd .bd-content .right-zone {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px
}

#bd .item-box {
	width: 298px;
	border: 1px solid #bfbfbf;
	margin-bottom: 10px
}

#bd .item-box.inform {
	height: 231px
}

#bd .item-box.price {
	height: 272px
}

#bd .item-box.attached {
	height: 272px;
	margin-bottom: 0
}

#bd .item-box.attached .inform-hd {
	border-bottom: 0
}

#bd .item-box.attached .attached-tab {
	height: 31px;
	border-top: 2px solid #1da02b;
	margin-bottom: 5px
}

#bd .item-box.attached .attached-tab a {
	display: inline-block;
	width: 147px;
	height: 31px;
	float: left;
	border: 1px solid #bfbfbf;
	border-top: 0;
	color: #000;
	text-align: center;
	line-height: 31px;
	text-decoration: none;
	background-color: #f1f1f1
}

#bd .item-box.attached .attached-tab a.item-left {
	border-left: 1px solid #f1f1f1
}

#bd .item-box.attached .attached-tab a.item-right {
	border-right: 1px solid #f1f1f1
}

#bd .item-box.attached .attached-tab a.current {
	font-weight: bold;
	border: 1px solid #fff;
	background-color: #fff
}

#bd .item-box.attached ul.hide {
	display: none
}

#bd .item-box.attached ul li a {
	width: 243px
}

#bd .item-box .inform-hd {
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	
	/* border-bottom: 1px solid #bfbfbf;
	background-color: #e3e3e3 */
	background: linear-gradient(to right,#FA9064 0,#FF7256 100%);
   	background-repeat: repeat-x;
}

#bd .item-box .inform-hd label {
	color:#fff;
	font-weight: bold
}

#bd .item-box .inform-hd a {
	text-decoration: none;
	float: right;
	color: #000
}

#bd .item-box .inform-hd a:hover {
	text-decoration: underline
}

#bd .item-box .inform-hd a span {
	color: #1da02b
}

#bd .item-box ul {
	padding-top: 5px
}

#bd .item-box ul li {
	list-style: none;
	font-size: 14px;
	color: #000;
	padding: 0 10px;
	line-height: 31px;
	height: 31px
}

#bd .item-box ul li span {
	position: relative;
	display: inline-block;
	background-color: #1da02b;
	width: 3px;
	height: 3px;
	top: -14px;
	margin-right: 3px
}

#bd .item-box ul li a {
	display: inline-block;
	color: #000;
	text-decoration: none;
	width: 200px
}

#bd .item-box ul li a:hover {
	text-decoration: underline
}

#bd .item-box ul li a i {
	display: inline-block;
	width: 27px;
	height: 11px;
	background: url(../images/new.png);
	margin-left: 5px
}

#bd .item-box ul li label {
	float: right;
	color: #b8b8b8
}

#bd .center-part .center-items {
}

#bd .center-part .center-items .item-hd {
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	color:#fff;
	/* border-bottom: 1px solid #bfbfbf;
	background-color: #e3e3e3; */
	font-weight: bold;
	background: linear-gradient(to right,#FA9064 0,#FF7256 100%);
   	background-repeat: repeat-x;
}

#bd .center-part .center-items.todo {
	position: relative;
	height: 232px;
}

#bd .center-part .center-items.todo .calendar-part {
	position: absolute;
	right: 0;
	width: 215px;
	top: 0;
	bottom: 0
}

#bd .center-items.todo .work-items {
	height: 230px
}
#bd .center-part{
	height:100%
}

#bd .center-part .center-items.todo .work-items li {
	float: left;
	width: 200px;;
	cursor: pointer
}

#bd .center-part .center-items.todo .work-items li:first-child .work-inner .work-item i
	{
}

#bd .center-part .center-items.todo .work-items li .work-inner {
	padding-right: 10px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item
	{
	position: relative;
	height: 111px;
	color: black
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item i
	{
	position: absolute;
	font-size: 43px;
	left: 11px;
	top: 22px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item span.num
	{
	position: absolute;
	left: 60px;
	top: 20px;
	font-size: 26px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item span.num span
	{
	font-size: 14px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item label
	{
	position: absolute;
	top: 60px;
	font-size: 14px;
	left: 60px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.green
	{
	background-color: #fff5f4;
	margin-bottom: 11px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.red
	{
	background-color: #cdcdcd;
	margin-bottom: 11px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.yellow
	{
	background-color: #E0FFFF;
	margin-bottom: 11px
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.blue
	{
	background-color: #eef1f2
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.purple
	{
	background-color: #FFEC8B
}

#bd .center-part .center-items.todo .work-items li .work-inner .work-item.gray
	{
	background-color: #FAFAD2
}

#bd .center-part .center-items.chart0 {
	height: 274px
}

#bd .center-part .center-items.chart0 .chart0-item {
	float: left;
	width: 50%
}

#bd .center-part .center-items.chart0 .chart0-item .item-inner {
	padding-right: 10px
}

#bd .center-part .center-items.chart0 .chart0-item .item-inner .item-content
	{
	height: 272px;
	border: 1px solid #bfbfbf
}

#bd .center-part .center-items.chart0 .chart0-item .item-inner .item-content .content-hd
	{
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #bfbfbf;
	background-color: #e3e3e3;
	font-weight: bold
}

#bd .center-part .center-items.chart0 .chart0-item .item-inner .item-content .chart-chart
	{
	height: 236px
}

#bd .center-part .center-items.chart1 {
	padding-right: 10px;
	height: 274px;
	border: 0;
	margin-bottom: 0
}

#bd .center-part .center-items.chart1 .chart1-inner {
	height: 272px;
	border: 1px solid #bfbfbf
}

#bd .center-part .center-items.chart1 .chart1-inner .chart1-chart {
	height: 236px
}