body, html {
    padding: 0;
    margin: 0;
    font-family: 'Arial', arial, 'Microsoft YaHei', simsun;
    font-size: 12px;
    box-sizing: border-box;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.calendar-content {
    height: 390px;
    width: 400px;
    border: 1px solid #57abff
}

.calendar-toolbar {
    padding: 6px 10px;
    height: 34px;
    /*line-height: 34px;*/
    border-bottom: 2px solid #808080;
}

    .calendar-toolbar .fa {
        font-size: 12px;
    }

/*btn*/
.calendar-content .btn {
    float: left;
    line-height: 16px;
    padding: 5px 1px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
}


.btn:hover {
    background: #e6e6e6;
    border-color: #adadad;
    color: #333;
}

.btn-group {
    float: left;
    padding: 0 4px;
    cursor: pointer;
}

    .btn-group .fa {
        padding-left: 5px;
        font-size: 12px;
    }

    .btn-group > .btn {
        position: relative;
        float: left;
    }

        .btn-group > .btn:hover {
            z-index: 2;
        }

    .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .btn-group > .btn:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group > .btn:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }


.month-prev,
.month-next {
    float: left;
    padding: 1px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    margin-top: 2px;
    cursor: pointer;
}


.calendar-toolbar-month {
    position: relative;
    display: inline;
}

.calendar-toolbar-year {
    display: inline;
}

.calendar-toolbar-leftbox {
    float: left;
    padding: 0 6px;
}

.calendar-toolbar-centerbox {
    position: relative;
    left: 50px;
}


.calendar-toolbar-rightbox {
    float: right;
    padding: 0 6px;
}

.totoday {
    text-align: center;
    cursor: pointer;
}
/*main*/
.calendar {
    padding: 8px 15px;
}

.calendar-header {
    height: 34px;
}

.calendar-daynumber {
    cursor: pointer;
    box-sizing: border-box;
    margin: 1px;
}

    .calendar-daynumber.calendar-othermonth {
        color: #9d9c9c;
    }

        .calendar-daynumber.calendar-othermonth:hover {
            background: #95c7fa;
        }

.today,
.calendar-month:hover
{
    color: #fff;
}


.calendar-daynumber:hover,
.calendar-daynumber.today {
    box-sizing: border-box;
    background: #2c92fb;
}

.calendar-daynumber.focus {
    box-sizing: border-box;
    background: #6db2f8;
}


.calendar td {
    text-align: center;
}

.solar, .lunar {
    box-sizing: border-box;
    height: 25px;
    line-height: 28px;
    display: block;
}

.lunar {
    margin-top: -3px;
}

.calendar-weekend {
    color: red;
}
.calendar-toolbar-color{
    background-color: red;
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 5px;
}
.calendar-toolbar-text{
    float: left;
    padding-left: 5px
}
/*dropdown-menu*/

ul.dropdown-month, .dropdown-month li,
ul.dropdown-year, .dropdown-year li {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.dropdown-month.open,
.dropdown-year.open {
    display: inline-block;
    margin-top: 1px;
    width: 100%;
}

.dropdown-month,
.dropdown-year {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 50px;
    border: 1px solid #eee;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
}

    .dropdown-month .month-item,
    .dropdown-year .year-item {
        line-height: 20px;
        padding: 3px 2px;
    }

.month-item:hover,
.year-item:hover {
    background: #e1e3e9;
}

.year-item.active {
    background: #c6c7ca;
}
