/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, PingFang SC,
		\5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif;
}
/**
 * Add the correct display in IE 9-.
 */
article,aside,footer,header,nav,section {
	display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,figure,main { /* 1 */
	display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
	margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre { /* 1 */
	/* stylelint-disable-line */
	/* 2 */
	
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
	background-color: transparent;
	/* 1 */
	-webkit-text-decoration-skip: objects;
	/* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,strong {
	font-weight: 400;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,strong {
	font-weight: 400;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,kbd,samp { /* 1 */
	/* stylelint-disable-line */
	/* 2 */
	
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
	font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
	background-color: #ff0;
	color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
	
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,video {
	display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio


:not

 

(
[
controls
]

 

)
{
display


:

 

none


;
height


:

 

0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
	border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg


:not

 

(
:root

 

)
{
overflow


:

 

hidden


;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,input,optgroup,select,textarea { /* 1 */
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,input { /* 1 */
	overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,select { /* 1 */
	text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,html [type="button"],[type="reset"],[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner
	{
	border-style: none;
	padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring
	{
	outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	display: inline-block;
	/* 1 */
	vertical-align: baseline;
	/* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
	overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button
	{
	height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,menu {
	display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
	display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
	display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
	display: none;
}

@font-face {
	src: local("Helvetica Neue");
	unicode-range: U+30-39;
}
/** {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/
*:before,*:after {
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	background-color: #fff;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	margin: 0;
	padding: 0;
}

button,input,select,textarea {
	line-height: inherit;
	color: inherit;
}

ul,ol {
	list-style: none;
}

input::-ms-clear,input::-ms-reveal {
	display: none;
}

::-moz-selection {
	background: #108ee9;
	color: #fff;
}

::selection {
	background: #108ee9;
	color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	color: rgba(0, 0, 0, 0.85);
	font-weight: 400;
}

a { /* color: #108ee9; */
	background: transparent;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

a:focus {
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

a:hover {
	color: #49a9ee;
}

a:active {
	color: #0e77ca;
}

a:active,a:hover {
	outline: 0;
	text-decoration: none;
}

a[disabled] {
	color: rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
	pointer-events: none;
}

.ant-divider {
	margin: 0 6px;
	display: inline-block;
	height: 8px;
	width: 1px;
	background: #ccc;
}

code,kbd,pre,samp {
	
}

.clearfix {
	zoom: 1;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
	visibility: hidden;
	height: 0;
}

.ant-menu {
	outline: none;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	z-index: 1050;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.65);
	background: #2f4050;
	line-height: 46px;
	-webkit-transition: background .3s, width .2s;
	transition: background .3s, width .2s;
}

.ant-menu-hidden {
	display: none;
}

.ant-menu-item-group-list {
	margin: 0;
	padding: 0;
}

.ant-menu-item-group-title {
	color: rgba(0, 0, 0, 0.43);
	line-height: 1.5;
	padding: 8px 16px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.ant-menu-item,.ant-menu-submenu,.ant-menu-submenu-title {
	cursor: pointer;
}

.ant-menu-submenu,.ant-menu-submenu-inline {
	-webkit-transition: border-color 0.3s
		cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s
		cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s
		cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s
		cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-item,.ant-menu-submenu-title {
	-webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background
		0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s
		cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background
		0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s
		cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-item:active,.ant-menu-submenu-title:active {
	background: #dee7f2;
}

.ant-menu-submenu .ant-menu-sub {
	cursor: initial;
	-webkit-transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-item>a {
	display: block;
	/*color: rgba(0, 0, 0, 1);*/
	color: #c1ccde;
}

.ant-menu-item:hover {
	background: #293846;
}

.ant-menu-item>a:hover {
	color: #fff;
}

.ant-menu-item>a:focus {
	text-decoration: none;
}

.ant-menu-item>a:before {
	position: absolute;
	background-color: transparent;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	/* border-bottom: 1px solid #fff; */
}
.ant-menu-scrollable .ant-menu-item:hover{
    background: #293846;
    color: #000;
}
.ant-menu-scrollable .ant-menu-item:hover .sl-icon,.ant-menu-item:hover .ant-menu-item-text{
    color: #fff;
}
.ant-menu-item-title .sl-icon{
	color: #c1ccde;
	top:5px;
	/* color: #413433; */
}
.ant-menu-item-divider {
	height: 1px;
	overflow: hidden;
	background-color: #e9e9e9;
	line-height: 0;
}

.ant-menu-item:hover,.ant-menu-item-active,.ant-menu:not   (.ant-menu-inline
	  ) .ant-menu-submenu-open,.ant-menu-submenu-active,.ant-menu-submenu-title:hover
	{
	color: #108ee9;
}

.ant-menu:not   (.ant-menu-inline   ) .ant-menu-submenu-open {
	z-index: 1050;
}

.ant-menu-horizontal .ant-menu-item,.ant-menu-horizontal .ant-menu-submenu
	{
	margin-top: -1px;
}

.ant-menu-horizontal>.ant-menu-item:hover,.ant-menu-horizontal>.ant-menu-item-active,.ant-menu-horizontal>.ant-menu-submenu .ant-menu-submenu-title:hover
	{
	background-color: transparent;
}

.ant-menu-item-selected {
	color: #108ee9;
}

.ant-menu-item-selected>a,.ant-menu-item-selected>a:hover {
	color: #108ee9;
}

.ant-menu:not   (.ant-menu-horizontal   ) .ant-menu-item-selected {
	background-color: #ecf6fd;
}

.ant-menu-horizontal,.ant-menu-inline,.ant-menu-vertical {
	z-index: auto;
}

.ant-menu-inline,.ant-menu-vertical {
	border-right: 1px solid #e9e9e9;
}

.ant-menu-inline .ant-menu-item,.ant-menu-vertical .ant-menu-item {
	margin-left: -1px;
	left: 1px;
	position: relative;
	z-index: 1;
}

.ant-menu-inline .ant-menu-item:after,.ant-menu-vertical .ant-menu-item:after
	{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	/*border-right: 3px solid #108ee9;
  -webkit-transform: scaleY(0.0001);
      -ms-transform: scaleY(0.0001);
          transform: scaleY(0.0001);*/
	opacity: 0;
	-webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		-webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		-webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity
		0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity
		0.15s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s
		cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ant-menu-vertical.ant-menu-sub {
	border-right: 0;
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item {
	border-right: 0;
	margin-left: 0;
	left: 0;
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item:after {
	border-right: 0;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item:first-child {
	border-radius: 4px 4px 0 0;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item:last-child,.ant-menu-vertical.ant-menu-sub>.ant-menu-item-group:last-child>.ant-menu-item-group-list:last-child>.ant-menu-item:last-child
	{
	border-radius: 0 0 4px 4px;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item:only-child {
	border-radius: 4px;
}

.ant-menu-inline {
	width: 100%;
}

.ant-menu-inline .ant-menu-selected:after,.ant-menu-inline .ant-menu-item-selected:after
	{
	-webkit-transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
		-webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
		-webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
		opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
		opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform
		0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	opacity: 1;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

.ant-menu-submenu-horizontal>.ant-menu {
	top: 100%;
	left: 0;
	position: absolute;
	min-width: 100%;
	margin-top: 7px;
	z-index: 1050;
}

.ant-menu-submenu-vertical {
	z-index: 1;
}

.ant-menu-submenu-vertical>.ant-menu {
	top: 0;
	left: 100%;
	position: absolute;
	min-width: 160px;
	margin-left: 4px;
	z-index: 1050;
}

.ant-menu-item,.ant-menu-submenu-title {
	margin: 0;
	padding: 0 20px;
	position: relative;
	display: block;
	white-space: nowrap;
}

.ant-menu-item .anticon,.ant-menu-submenu-title .anticon {
	min-width: 14px;
	margin-right: 8px;
	-webkit-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), margin
		0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-item .anticon+span,.ant-menu-submenu-title .anticon+span {
	-webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width
		0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	opacity: 1;
}

.ant-menu>.ant-menu-item-divider {
	height: 1px;
	margin: 1px 0;
	overflow: hidden;
	padding: 0;
	line-height: 0;
	background-color: #e9e9e9;
}

.ant-menu-submenu {
	position: relative;
}

.ant-menu-submenu>.ant-menu {
	background-color: #fff;
	border-radius: 4px;
}

.ant-menu-submenu>.ant-menu-submenu-title:after {
	-webkit-transition: -webkit-transform 0.3s
		cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
		-webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title:after {
	font-style: normal;
	vertical-align: baseline;
	text-align: center;
	text-transform: none;
	text-rendering: auto;
	position: absolute;
	content: "\E61D";
	right: 16px;
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg) scale(0.75);
	-ms-transform: rotate(270deg) scale(0.75);
	transform: rotate(270deg) scale(0.75);
}

.ant-menu-submenu-inline>.ant-menu-submenu-title:after {
	font-style: normal;
	vertical-align: baseline;
	text-align: center;
	text-transform: none;
	text-rendering: auto;
	position: absolute;
	content: "\E61D";
	right: 16px;
	top: 0;
	display: inline-block;
	-webkit-transform: scale(0.66666667) rotate(0deg);
	-ms-transform: scale(0.66666667) rotate(0deg);
	transform: scale(0.66666667) rotate(0deg);
	/* IE6-IE8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
	zoom: 1;
}

:root .ant-menu-submenu-inline>.ant-menu-submenu-title:after {
	-webkit-filter: none;
	filter: none;
}

:root .ant-menu-submenu-inline>.ant-menu-submenu-title:after {
	
}

.ant-menu-submenu-open.ant-menu-submenu-inline>.ant-menu-submenu-title:after
	{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(180deg) scale(0.75);
	-ms-transform: rotate(180deg) scale(0.75);
	transform: rotate(180deg) scale(0.75);
}

.ant-menu-vertical .ant-menu-submenu-selected {
	color: #108ee9;
}

.ant-menu-vertical .ant-menu-submenu-selected>a {
	color: #108ee9;
}

.ant-menu-horizontal {
	border: 0;
	border-bottom: 1px solid #e9e9e9;
	box-shadow: none;
	z-index: 0;
}

.ant-menu-horizontal>.ant-menu-item,.ant-menu-horizontal>.ant-menu-submenu
	{
	position: relative;
	top: 1px;
	/*float: left;*/
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.ant-menu-horizontal {
	overflow-x: auto;
	overflow-y: hidden;
	height: 44px;
	white-space: nowrap;
}

.ant-menu-horizontal::-webkit-scrollbar {
	display: none;
}

.ant-menu-horizontal {
	-ms-overflow-style: none;
}

.ant-menu-horizontal {
	overflow: -moz-scrollbars-none;
}

.ant-menu-horizontal>.ant-menu-item:hover,.ant-menu-horizontal>.ant-menu-submenu:hover,.ant-menu-horizontal>.ant-menu-item-active,.ant-menu-horizontal>.ant-menu-submenu-active,.ant-menu-horizontal>.ant-menu-item-open,.ant-menu-horizontal>.ant-menu-submenu-open,.ant-menu-horizontal>.ant-menu-item-selected,.ant-menu-horizontal>.ant-menu-submenu-selected
	{
	border-bottom: 2px solid #108ee9;
	color: #108ee9;
}

.ant-menu-horizontal>.ant-menu-item>a,.ant-menu-horizontal>.ant-menu-submenu>a
	{
	display: block;
	/*color: rgba(0, 0, 0, 1);*/
	color: #c1ccde;
}

.ant-menu-horizontal>.ant-menu-item>a:hover,.ant-menu-horizontal>.ant-menu-submenu>a:hover
	{
	color: #108ee9;
}

.ant-menu-horizontal>.ant-menu-item:hover {
	background: #dee7f2;
}

.ant-menu-horizontal:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.ant-menu-vertical .ant-menu-item,.ant-menu-inline .ant-menu-item,.ant-menu-vertical .ant-menu-submenu-title,.ant-menu-inline .ant-menu-submenu-title
	{
	padding: 0 8px;
	line-height: 45px;
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ant-menu-inline-collapsed {
	width: 64px;
}

.ant-menu-inline-collapsed>.ant-menu-item,.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title
	{
	left: 0;
	text-overflow: clip;
	padding: 0 24px !important;
}

.ant-menu-inline-collapsed>.ant-menu-item:after,.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item:after,.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title:after
	{
	display: none;
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon,.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .anticon,.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .anticon
	{
	line-height: 42px;
	margin: 0;
}

.ant-menu-inline-collapsed>.ant-menu-item .anticon+span,.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .anticon+span,.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title .anticon+span
	{
	max-width: 0;
	display: inline-block;
	opacity: 0;
}

.ant-menu-inline-collapsed-tooltip {
	pointer-events: none;
}

.ant-menu-inline-collapsed-tooltip .anticon {
	display: none;
}

.ant-menu-inline-collapsed-tooltip a {
	color: rgba(255, 255, 255, 0.91);
}

.ant-menu-inline-collapsed .ant-menu-item-group-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 4px;
	padding-right: 4px;
}

.ant-menu-item-group-list .ant-menu-item,.ant-menu-item-group-list .ant-menu-submenu-title
	{
	padding: 0 16px 0 28px;
}

.ant-menu-vertical.ant-menu-sub {
	padding: 0;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ant-menu-vertical.ant-menu-sub>.ant-menu-item,.ant-menu-vertical.ant-menu-sub>.ant-menu-submenu
	{
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.ant-menu-root.ant-menu-vertical,.ant-menu-root.ant-menu-inline {
	box-shadow: none;
}

.ant-menu-sub.ant-menu-inline {
	padding: 0;
	border: 0;
	box-shadow: none;
	border-radius: 0;
}

.ant-menu-sub.ant-menu-inline>.ant-menu-item,.ant-menu-sub.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title
	{
	line-height: 42px;
	height: 42px;
	list-style-type: disc;
	list-style-position: inside;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title {
	padding-left: 32px;
}

.ant-menu-item-disabled,.ant-menu-submenu-disabled {
	color: rgba(0, 0, 0, 0.25) !important;
	cursor: not-allowed;
	background: none;
	border-color: transparent !important;
}

.ant-menu-item-disabled>a,.ant-menu-submenu-disabled>a {
	color: rgba(0, 0, 0, 0.25) !important;
	pointer-events: none;
}

.ant-menu-item-disabled>.ant-menu-submenu-title,.ant-menu-submenu-disabled>.ant-menu-submenu-title
	{
	color: rgba(0, 0, 0, 0.25) !important;
	cursor: not-allowed;
}

.ant-menu-dark,.ant-menu-dark .ant-menu-sub {
	color: rgba(255, 255, 255, 0.67);
	background: #404040;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
	background: #333;
}

.ant-menu-dark.ant-menu-horizontal {
	border-bottom-color: #404040;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item,.ant-menu-dark.ant-menu-horizontal>.ant-menu-submenu
	{
	border-color: #404040;
	border-bottom: 0;
}

.ant-menu-dark .ant-menu-item,.ant-menu-dark .ant-menu-item-group-title,.ant-menu-dark .ant-menu-item>a
	{
	color: #fff;
}

.ant-menu-dark.ant-menu-inline,.ant-menu-dark.ant-menu-vertical {
	border-right: 0;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item,.ant-menu-dark.ant-menu-vertical .ant-menu-item
	{
	border-right: 0;
	margin-left: 0;
	left: 0;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item:after,.ant-menu-dark.ant-menu-vertical .ant-menu-item:after
	{
	border-right: 0;
}

.ant-menu-dark .ant-menu-item:hover,.ant-menu-dark .ant-menu-item-active,.ant-menu-dark .ant-menu-submenu-active,.ant-menu-dark:not
	  (.ant-menu-inline   ) .ant-menu-submenu-open,.ant-menu-dark .ant-menu-submenu-selected,.ant-menu-dark .ant-menu-submenu-title:hover
	{
	background-color: transparent;
	color: #fff;
}

.ant-menu-dark .ant-menu-item:hover>a,.ant-menu-dark .ant-menu-item-active>a,.ant-menu-dark .ant-menu-submenu-active>a,.ant-menu-dark:not
	  (.ant-menu-inline   ) .ant-menu-submenu-open>a,.ant-menu-dark .ant-menu-submenu-selected>a,.ant-menu-dark .ant-menu-submenu-title:hover>a
	{
	color: #fff;
}

.ant-menu-dark .ant-menu-item-selected {
	border-right: 0;
	color: #fff;
}

.ant-menu-dark .ant-menu-item-selected:after {
	border-right: 0;
}

.ant-menu-dark .ant-menu-item-selected>a,.ant-menu-dark .ant-menu-item-selected>a:hover
	{
	color: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
	background-color: #108ee9;
}

.ant-menu-dark .ant-menu-item-disabled,.ant-menu-dark .ant-menu-submenu-disabled,.ant-menu-dark .ant-menu-item-disabled>a,.ant-menu-dark .ant-menu-submenu-disabled>a
	{
	opacity: 0.8;
	color: rgba(255, 255, 255, 0.35) !important;
}

.ant-menu-dark .ant-menu-item-disabled>.ant-menu-submenu-title,.ant-menu-dark .ant-menu-submenu-disabled>.ant-menu-submenu-title
	{
	color: rgba(255, 255, 255, 0.35) !important;
}

.ant-menu-scrollable .ant-menu {
	overflow: visible;
}

.ant-menu-scrollable {
	margin-right: 60px;
	overflow: hidden;
}

.ant-menu-arrows {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

.ant-menu-arrow-left,.ant-menu-arrow-right {
	width: 30px;
	height: 45px;
	cursor: pointer;
	background: url(btn_left.png) no-repeat 50% 50%;
	cursor: pointer;
	display: inline-block;
}

.ant-menu-arrow-right {
	background: url(btn_right.png) no-repeat 50% 50%;
}

.ant-menu-no-arrows .ant-menu-scrollable {
	margin-right: 0;
}

.ant-menu-no-arrows .ant-menu-arrows {
	display: none;
}

/* index.jsp css
   ========================================================================== */
.left {
	position: absolute;
	top: 252px;
	left: 0;
	width: 180px;
	/* border: 1px solid #f0e7e6; */
	border-top: 0;
	bottom: 18px;
	background: #2f4050;
	overflow: auto;
}

.left::-webkit-scrollbar {
	display: none;
}

.left {
	-ms-overflow-style: none;
}

.left {
	overflow: -moz-scrollbars-none;
}

.left.change {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0;
	height: 45px;
	width: auto;
}

.right {
	position: absolute;
	top: 48px;
	left: 180px;
	right: 0;
	bottom: 18px;
	background: #fff;
}

.change .right {
	position: absolute;
	top: 95px;
	left: 0px;
	right: 0;
	bottom: 0;
	background: #fff;
}

.header {
	height: 45px;
	width: 100%;
}

.footer {
	background: #e7eaec;
	height: 18px;
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer>span {
	color: #676a6c;
}

.footer>div {
	width: 20%;
	height: 100%;
	/* background: #1097fa; */
	position: absolute;
	right: 0;
	top: 0;
}

.logo {
	width: 180px;
	border-bottom: 1px solid #616a71;
	border-top: 0;
	height: 45px;
	display: inline-block;
	height: 172px;
	position: absolute;
	border-right: 1px solid #a7b1c2;
	background: #2f4050;
	/* background: url("../menu/menu_top.png") no-repeat 0 0; */
	left: 0;
	top: 0;
	color: #fff;
}
.header-top{
	width:100%;
	height:60px;
	background:#2f4050;
	padding-top: 1px;
    box-sizing: border-box;
}
.header-top .version{
	font-size:24px;
	font-weight:600;
	color:#fff;
	text-align:center;
}
.version-num{
	font-size:14px;
}
.header-top  span{
	width:100%;
	display:block;
	text-align:center;
}
.logo>span {
	position: relative;
	top: 13px;
	left: 31px;
}


.inst {
	color: #fff;
	position: absolute;
	top: 118px;
	/*left: 12px;*/
	cursor: default;
	text-align: center;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user {
	color: #fff;
	position: absolute;
	top: 138px;
	/*left: 12px;*/
	cursor: default;
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
body .user>span {
    color: #ffffff;
}


.header-main {
	position: absolute;
	top: 0px;
	left: 180px;
	right: 0;
	bottom: 0;
	background: #fff;
}

.welcom {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	cursor: default;
	color: #000;
	margin-top: 6px;
}

.inst1 {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	color: #000;
	margin-top: 6px;
}

.pwdUpdate {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	color: #000;
	margin-top: 16px;
}

.exit {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 16px;
}

.myWork {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 16px;
}

.menuStyle {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 16px;
}

.uploadPhoto {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	cursor: pointer;
	margin-top: 16px;
}

.system {
	float: left;
	width: auto;
	height: 45px;
	line-height: 20px;
	margin-right: 20px;
	cursor: pointer;
	color: #fe7a4d;
}

.present_organization {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	color: #000;
}

.iconfontmenu{
	font-size: 20px;
}
.time{
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	color: #000;
	margin-top: 6px;
}

.time1 {
	float: right;
	width: auto;
	height: 45px;
	line-height: 45px;
	margin-right: 10px;
	cursor: pointer;
	color: #000;
	margin-top: 6px;
}

.setting {
	float: right;
	width: auto;
	height: 45px;
	margin-top: 10px;
	margin-right: 10px;
}
/**/
.mini-menu.mini-menu-open .mini-menuitem-hover {
	background: #e0eafa;
	border: 1px solid #e0eafa;
}

.mini-menu-inner {
	padding: 0px;
}

.mini-tabs-headers.mini-tabs-header-top,.mini-tabs-header,.mini-tabs-scrollCt
	{
	height: 36px;
}

.mini-tab.mini-tab-active {
	background: #0065d2;
	color: #fff;
}

.mini-tab {
	background: #ececec;
}

/* menu  */
.sidebar-toggle {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 58px;
	right: 13px;
	z-index: 20000000;
	cursor: pointer;
}

.sidebar-toggle .fa {
	text-align: center;
	display: block;
	margin: auto;
}

.compact .left,.compact .logo {
	width: 44px;
}

.compact .right,.compact .header-main {
	left: 45px;
	right: 0px;
}

.compact .right .mini-tabs-table {
	width: auto;
}

.compact .mini-tabs-bodys {
	border-color: #f5f5f5;
}

.compact .ant-menu-item-text {
	vertical-align: middle;
	color: transparent;
}

.compact .user,.compact .logo span {
	display: none;
}

.user_img {
	width: 82px;
	height: 82px;
	position: relative;
	top: 15px;
	left: 50px;
	border-radius: 50%;
	z-index: 10;
	overflow: hidden;
	background-image:url("../menu/user-bg.png");
	background-size: 100%;
}

.user_img img {
	width: 82px;
	height: 82px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-box-shadow: 0px 4px 5px #9C9C9C;
	-webkit-box-shadow: 0px 4px 5px #9C9C9C;
	box-shadow: 0px 4px 5px #9C9C9C;
	behavior: url('../miniScript/pie/PIE.htc')
}

.fz-20 {
	font-size: 22px;
	position: relative;
    top: -15px;
    left:-2px;
}
