﻿.menu
{
    position: relative;
    color: #404040;
    /* background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%); */
    background-repeat: repeat-x;
    overflow: visible;
    height: 60px;
    width: auto;
    z-index: 1000;
}

ul, li 
{
    position:relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu
{
    float: left;
}

.menu > li
{
    width: 80px;
    position: relative;
    float: left;
}

.menu > li ul
{
    z-index: 1001;
    display: none;
}

.menu-title
{
    display: block;
    position: relative;
    text-decoration: none; /*overflow: hidden;*/
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    webkit-user-select: none;
    padding-left:0;
    line-height:22px;
}

.menu > li li > .menu-title
{
    padding-left: 15px;
    line-height:30px;
}

.menu > li > .menu-title.open::before
{
    content: " ";
    position: absolute;
    top: 100%;
    left: 43%;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-top: 6px solid red;
    border-right: 6px solid transparent;
}

.menu-icon
{
    font-size: 14px;
    width: 25px;
    vertical-align: middle;
    margin-bottom: 1px;
    opacity: .9;
    filter: alpha(opacity=90);
}

.menu > li > a
{
    height: 60px;
    color: #404040;
    text-align: center;
    margin: 0;
}

.menu > li > a .menu-icon
{
    display: block;
    font-size: 28px;
    line-height: 38px;
    width: 100%;
    margin: 0;
    color: #d0a51
}


.menu > li:hover
{
    background: #244c6f;
}

.menu li:hover > ul
{
    display: block;
}

.menu > li ul
{
    position: absolute;
    top: 100%;
    min-width: 130px;
    line-height: 28px;
    padding: 10px 0 5px;
    border: 4px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
}

.menu > li > ul > li
{
    position: relative;
}

.menu > li > ul > li > ul
{
    position: absolute;
    left: 100%;
    top: 0;
}

.menu > li > ul
{
    border-top: 0;
}

.menu > li > .menu-title > .menu-arrow
{
    display: none;
    position: absolute;
    left: 65px;
    top: 57px;
    text-indent: 0;
    font-weight: bold;
    color: #b8d2e1;
}

.menu > li:hover > .menu-title .menu-arrow
{
    text-indent: -99999px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    border-right-color: white;
    border-left: none;
    left: 50%;
    top: 100%;
    margin-top: -7px;
}

.menu > li > ul .menu-arrow
{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 4px;
    top: 9px;
    content: "\f105"; /*background: url(../images/arrow1.png) no-repeat left center;*/
}
    .menu > li > ul .menu-arrow::after {
        content: "\f105";
    }
    
/*全局*/
ul, li
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-title.open {
    background:#0068b7;
}
.menu-title:hover {
    background:#0068b7;
    color:#fff!important;
}
.menu > li ul {
    background-color: rgb( 55, 116, 170);
    min-width: 160px;
    border-radius: 0;
    border: none;
    padding: 0;
}
.menu > li ul li {
    color:#404040;
    line-height: 34px;
}
.menu > li ul li:hover {
    background:#0068b7;
    color:#fff;
}
/* body .menu > li ul li:hover a{
    color:#fff!important;
} */
.menu > li ul .fa-angle-down {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


