﻿/* base
==========================================*/
body {
	font-family: 'Arial', arial, 'Microsoft YaHei', simsun;
	color: #000;
	font-size: 12px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
}

.app-header {
	background: #f8f8f8;
}

.app-toolbar,.bg-toolbar {
	background: #f8f8f8;
}

.mini-modal {
	background: #000;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.mini-mask-background {
	background: #f8f8f8;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.mini-popup {
	
}

.mini-window,.mini-menu-open {
	/*box-shadow:rgba(0,​ 0,​ 0,​ 0.6) 0px 6px 12px 0px;*/
	box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}
/* button
==========================================*/
.mini-button {
	background: #eb4339;
	border-color: #eb4339;
	color: #ffedec;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	border-radius: 2px;
	margin-right: 4px;
}
/*弹出框-取消按钮*/
.mini-button.alert-cancel {
	background: #ececec;
	border-color: #d9d9d9;
	color: #000;
}
/*弹出框-确定按钮*/
.mini-button.alert-ok {
	background: #1780f4;
	border: none;
	color: #000;
}

.mini-button.alert-ok .mini-button-text {
	color: #fff;
}

.mini-button.alert-cancel:hover,.mini-button.alert-ok:hover {
	background: #0065d2;
	border: 1px solid #0065d2;
	color: #fff;
}

.mini-button.alert-cancel:hover>.mini-button-text,.mini-button.alert-ok:hover>.mini-button-text
	{
	color: #fff;
}
/* 鼠标hover  */
body a:hover.mini-button {
	background: #ff564c;
	color: #fff;
	border-color: #ff564c;
}

body .mini-button-checked,body a:hover.mini-button-checked,body a.mini-button-popup,body a:hover.mini-button-popup
	{
	background: #1e9fff;
	border-color: #1e9fff;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #fff;
}

body .mini-button-pressed,body a:hover.mini-button-pressed {
	background: #ee5e53;
}

.mini-button-icon {
	width: 25px;
	height: 25px;
}

.mini-button-iconTop .mini-button-icon-text {
	padding-left: 16px;
	padding-top: 22px;
}

.mini-button-iconTop .mini-button-icon {
	left: 50%;
	margin-left: -12px;
	top: 2px;
	margin-top: auto;
}
/* primary */
.mini-button.primary {
	border: 1px solid #C9C9C9;
	background-color: #fff;
	color: #555;
}

body a:hover.mini-button.primary {
	border-color: #1e9fff;
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	color: #333
}

body .primary.mini-button-pressed,body a:hover.primary.mini-button-pressed,body .primary.mini-button-checked,body a:hover.primary.mini-button-checked,body a.primary.mini-button-popup,body a:hover.primary.mini-button-popup
	{
	border: 1px solid #C9C9C9;
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #555;
}
/* normal */
.mini-button.normal {
	border: 1px solid #1097fa;
	background-color: #1097fa;
	color: #fff;
}

body a:hover.mini-button.normal {
	border-color: #1E9FFF;
	background-color: #1E9FFF;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	color: #fff
}

body .normal.mini-button-pressed,body a:hover.normal.mini-button-pressed,body .normal.mini-button-checked,body a:hover.normal.mini-button-checked,body a.normal.mini-button-popup,body a:hover.normal.mini-button-popup
	{
	border: 1px solid #1E9FFF;
	background-color: #1E9FFF;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #fff;
}
/* warm */
.mini-button.warm {
	border: 1px solid #FFB800;
	background-color: #FFB800;
	color: #fff;
}

body a:hover.mini-button.warm {
	border-color: #FFB800;
	background-color: #FFB800;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	color: #fff
}

body .warm.mini-button-pressed,body a:hover.warm.mini-button-pressed,body .warm.mini-button-checked,body a:hover.warm.mini-button-checked,body a.warm.mini-button-popup,body a:hover.warm.mini-button-popup
	{
	border: 1px solid #FFB800;
	background-color: #FFB800;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #fff;
}

/* danger */
.mini-button.danger {
	border: 1px solid #FF5722;
	background-color: #FF5722;
	color: #fff;
}

body a:hover.mini-button.danger {
	border-color: #FF5722;
	background-color: #FF5722;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	color: #fff;
}

body .danger.mini-button-pressed,body a:hover.danger.mini-button-pressed,body .danger.mini-button-checked,body a:hover.danger.mini-button-checked,body a.danger.mini-button-popup,body a:hover.danger.mini-button-popup
	{
	border: 1px solid #FF5722;
	background-color: #FF5722;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #fff;
}

body a.mini-button-disabled,body a:hover.mini-button-disabled {
	border: 1px solid #d9d9d9;
	background: #ececec;
	color: #000;
	opacity: 1
}

.mini-button.mini-button-disabled .mini-button-text {
	/*cursor: not-allowed;    */
	
}
/* menu
==========================================*/
.mini-menu {
	background: #ffffff;
	color: black;
}

.mini-menu-border {
	border-color: #ddd;
}

.mini-menu-popup {
	border-color: #fcd2cf;
	background: #fcd2cf;
}

.mini-menuitem-hover {
	border-color: #f9f9f9;
	background: #f9f9f9;
}

.mini-menuitem-selected {
	border-color: #ddd;
	background: #1E9FFF;
}

.mini-menuitem-text,.mini-menuitem-text a {
	color: black;
	margin-right: 12px;
}
/*.mini-separator
{
    border-color:#ddd;
}*/
.mini-menu-horizontal .mini-menuitem-allow {
	background: url(images/trigger.png) no-repeat -4px -3px;
}

.mini-menu-horizontal .mini-menuitem-allow {
	width: 15px;
	height: 15px;
	margin-top: 5px;
}

.mini-menuitem.mini-menuitem-selected .mini-menuitem-inner {
	background: url(images/menulinearrow.png) no-repeat 100% 50%;
}

.mini-button-menu {
	background: url(images/combo/combo-arrow.jpg) no-repeat 1px 4px;
}

.mini-button-allow {
	position: relative;
	width: 14px;
	height: 16px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	margin-right: 5px;
}

.mini-menubutton .mini-button-icon {
	position: absolute;
	left: 8px;
	top: 14px;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin-top: -9px;
	line-height: 18px;
	line-height: 16px\9;
}
.xitong{
	font-size:20px!important;
	line-height:22px!important;
}
.mini-menuitem-allow {
	left: auto;
	right: 5px;
	top: 2px;
	background: url(images/arrows.png) no-repeat 0px 0px;
	margin-top: 0px;
}

.mini-menuitem {
	line-height: 24px;
}

.mini-button.mini-menubutton.primary {
	border: 1px solid #C9C9C9;
	background-color: #fff;
	color: #555;
}

body a:hover.mini-button.mini-menubutton.primary {
	border-color: #1e9fff;
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity = 80);
	color: #333
}

body .mini-menubutton.primary.mini-button-pressed,body a:hover.mini-menubutton.primary.mini-button-pressed,body .mini-menubutton.primary.mini-button-checked,body a:hover.mini-menubutton.primary.mini-button-checked,body a.mini-menubutton.primary.mini-button-popup,body a:hover.mini-menubutton.primary.mini-button-popup
	{
	border: 1px solid #C9C9C9;
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #555;
}
/* panel
==========================================*/
.mini-panel {
	
}

.mini-panel-border {
	border-color: #d9d9d9;
}

.mini-panel.framed .mini-panel-border {
	border: 5px solid rgb(30, 159, 225);
	border-radius: 4px;
}

.mini-panel.framed .mini-panel-title {
	line-height: 15px;
}

.mini-panel.framed .mini-panel-header-inner {
	padding: 7px 5px 10px 5px;
}

.mini-panel.framed .mini-tools {
	top: 7px;
}

.mini-panel-header { /*background:#157fcc;*/
	border-color: #d9d9d9;
}

.mini-panel .mini-panel-title {
	text-align: left;
	float: none;
	color: #000;
	font-weight: 400;
	line-height: 15px;
}

.mini-panel-body {
	height: 100%;
	vertical-align: top;
	overflow: auto !important;
	/* padding: 10px ;     */
}

.mini-panel .mini-panel-footer,.mini-panel .mini-panel-toolbar {
	padding: 6px 0 6px 6px;
	background: #f2f2f2;
	border-color: #f2f2f2;
}

.mini-tools-close {
	background: url(images/tool-sprites3.png) no-repeat 0px -14px;
	opacity: .9;
}

.mini-panel-collapse .mini-tools .mini-tools-collapse {
	background: url(images/tool-sprites2.png) no-repeat 0px -208px;
}

.mini-panel.framed.mini-panel-collapse .mini-tools .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 0px -208px;
}

.mini-tools span {
	width: 16px;
	height: 16px;
}
/* window
==========================================*/
.mini-window .mini-panel-border {
	border: 2px solid #d9d9d9;
	border-radius: 4px;
}

.mini-window .mini-panel-header {
	background: #f7f7f7;
}

.mini-window.form .mini-panel-border {
	border-color: #1097fa;
}

.mini-window.form .mini-panel-header {
	background: #1097fa;
}

.mini-window .mini-panel-footer {
	background: #f2f2f2;
	border-color: #f2f2f2;
}

.mini-window .mini-panel-header-inner {
	padding: 7px 10px 8px 10px;
}

.mini-window .mini-tools {
	top: 6px;
	right: 10px;
}

.mini-tools-max {
	background: url(images/tool-sprites2.png) no-repeat 50% -32px;
	opacity: .7;
}

.mini-tools-restore {
	background: url(images/tool-sprites2.png) no-repeat 50% -48px;
	opacity: .5;
}

.mini-tools .mini-tools-collapse {
	background: url(images/tool-sprites2.png) no-repeat 0px -224px;
	width: 16px;
	opacity: .7;
}

.mini-drag-proxy {
	background: #ddd;
	border-color: #ddd;
	opacity: .5;
}

.mini-iconfont.mini-tools-remove {
	background: url(images/tool-sprites2.png) no-repeat 50% 0px;
	opacity: .5;
}
/* grid
==========================================*/
.mini-grid-cell,.mini-grid-headerCell,.mini-grid-filterCell,.mini-grid-summaryCell,.mini-grid-cell-inner,.mini-grid-headerCell-inner
	{
	line-height: 22px;
}

.mini-grid-headerCell {
	color: #333;
}

.bigger .mini-grid-cell,.bigger .mini-grid-headerCell,.bigger .mini-grid-filterCell,.bigger .mini-grid-summaryCell,.bigger .mini-grid-cell-inner,.bigger .mini-grid-headerCell-inner
	{
	line-height: 44px;
}

.smaller .mini-grid-cell,.smaller .mini-grid-headerCell,.smaller .mini-grid-filterCell,.smaller .mini-grid-summaryCell,.smaller .mini-grid-cell-inner,.smaller .mini-grid-headerCell-inner
	{
	line-height: 24px;
}

.smaller .mini-grid-cell,.smaller .mini-grid-headerCell,.smaller .mini-grid-topRightCell
	{
	
}

.mini-grid-border {
	border-color: #e2e2e2;
	border-bottom: 0;
}

.mini-grid-headerCell,.mini-grid-topRightCell {
	background: #f9f9f9;
	border-right: 0;
	border-bottom: #d9d9d9 1px solid;
	font-weight: 400;
}

.borderAll .mini-grid-headerCell,.borderAll .mini-grid-topRightCell,.borderAll .mini-grid-cell
	{
	border-right: 1px solid #e2e2e2;
}

.borderAll{
	padding: 4px;
}
.borderY .mini-grid-headerCell,.borderY .mini-grid-topRightCell,.borderY .mini-grid-cell
	{
	border-right: 1px solid #e2e2e2;
	border-bottom: 0;
}

.borderY .mini-grid-border {
	border-bottom: 1px solid #e2e2e2;
}

.borderNone .mini-grid-headerCell,.borderNone .mini-grid-topRightCell,.borderNone .mini-grid-cell
	{
	border: 0;
}

.borderNone .mini-grid-border {
	border: 0;
}

.mini-grid-cell {
	border-color: #e2e2e2;
	border-bottom-color: #e2e2e2;
	border-right: 0;
}

.mini-grid-footer {
	border-top: solid 1px #dddddd;
	background: #fff;
}

.mini-grid-pager {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background: #fff;
	height: 24px;
}

.mini-grid-columnproxy {
	background: #f4f4f4;
	border: #dddddd 1px solid;
}

body .mini-grid-row-hover,body .mini-grid-row-hover .mini-grid-frozenCell
	{
	background: #f2f2f2;
}

html body .mini-grid-row-selected {
	background: #fcd2cf;
}

.mini-resizer-trigger {
	display: none;
}

.mini-grid-checkbox {
	height: 15px;
	width: 15px;
	background: url(images/checkbox_1.png) no-repeat -15px 0px;
}

.mini-grid-checkbox-checked,.mini-grid-row-selected .mini-checkcolumn .mini-grid-checkbox
	{
	background: url(images/checkbox_1.png) no-repeat -15px -15px;
}
/* checkbox */
.mini-checkbox-check,.mini-checkbox-icon {
	background: url(images/checkbox_1.png) no-repeat -15px 0px;
	width: 15px;
	height: 15px;
}

.mini-checkbox-checked .mini-checkbox-icon {
	background: url(images/checkbox_1.png) no-repeat -15px -15px;
}

.mini-checkboxlist-item.mini-checkboxlist-item-selected .mini-list-icon,.mini-checkboxlist-item.mini-checkboxlist-item-selected .mini-list-icon:hover
	{
	background: url(images/checkbox_1.png) no-repeat -15px -15px;
	/* vsdvdfvdfvdfvgdf */
}

.mini-checkboxlist-item .mini-list-icon {
	background: url(images/checkbox_1.png) no-repeat -15px 0px;
	width: 15px;
	height: 15px;
}

.mini-checkboxlist-item .mini-list-icon:hover {
	background: url(images/checkbox_1.png) no-repeat -15px 0px;
}

.mini-checkboxlist .mini-labelfield-label {
	line-height: 20px;
}

.mini-checkboxlist,.mini-radiobuttonlist {
	margin-bottom: 2px;
}

.mini-checkboxlist.mini-labelfield-checkboxlist {
	line-height: 57px;
	vertical-align: middle;
	position: relation;
	/*top: 8px;*/
}
/* checkstyle2 */
.checkstyle2 .mini-checkboxlist-item .mini-list-icon {
	background: url(images/check2.jpg) no-repeat 0 0;
	width: 32px;
	height: 30px;
	-webkit-transition: .1s linear;
	transition: .1s linear;
}

.checkstyle2 .mini-checkboxlist-item:hover .mini-list-icon {
	background: url(images/check2-hover.jpg) no-repeat 0 0;
}

.checkstyle2
 
.mini-checkboxlist-item
.mini-checkboxlist-item-selected
 
.mini-list-icon
,
{
background
:url
(images/checked2
.jpg
)
 
no-repeat
 
0
0;
}
.mini-checkboxlist .mini-labelfield-label {
	 /*line-height:30px;*/
	 background: #fff;
	 border: none;
	
}

.checkstyle2 .mini-checkboxlist-item label {
	float: left;
	padding: 0 10px;
	line-height: 32px;
	background: #d2d2d2;
	height: 30px;
	border-radius: 2px 0 0 2px;
	color: #fff;
}

.checkstyle2 .mini-checkboxlist-item:hover label {
	background: #c2c2c2;
}

.checkstyle2 .mini-checkboxlist-item.mini-checkboxlist-item-selected label
	{
	background: #1097fa;
}
/* radio */
.mini-radiobuttonlist .mini-labelfield-label {
	line-height: 30px;
}

.mini-radiobuttonlist table label {
	line-height: 30px;
}

.mini-radiobuttonlist-item .mini-list-icon {
	background: url(images/radio_1.png) no-repeat -15px 0;
	width: 15px;
	height: 15px;
}

.mini-radiobuttonlist-item.mini-radiobuttonlist-item-selected .mini-list-icon,.mini-radiobuttonlist-item.mini-radiobuttonlist-item-selected .mini-list-icon:hover
	{
	background: url(images/radio_1.png) no-repeat -15px -15px;
}

.mini-radiobuttonlist-item .mini-list-icon:hover {
	background: url(images/radio_1.png) no-repeat -15px 0;
}

.mini-radiobuttonlist-item.mini-disabled .mini-list-icon:hover {
	background: url(images/radio_1.png) no-repeat -15px 0;
}

.mini-tree-radio {
	width: 20px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image: url(images/radio.jpg);
}

.mini-tree-selectedNode .mini-tree-radio,.mini-grid-row-selected .mini-tree-radio
	{
	background-image: url(images/radioed.jpg) no-repeat 0px 0px;
}
/* base
==========================================*/
.app-header {
	background: #f8f8f8;
}

.app-toolbar,.bg-toolbar {
	background: #f8f8f8;
}

.mini-modal {
	background: #ddd;
	opacity: .6;
	filter: alpha(opacity = 60);
}

.mini-mask-background {
	background: #f8f8f8;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.mini-popup,.mini-window,.mini-menu-open {
	/*box-shadow:rgba(0,​ 0,​ 0,​ 0.6) 0px 6px 12px 0px;*/
	/*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);*/
	
}

/* popup
==========================================*/
.mini-popup {
	border-color: #ddd;
	/* height:300px!important;*/
}

/* toolbar
==========================================*/
.mini-toolbar {
	background: #fff;
	border: 0;
}

.separator {
	border-color: #e1e1e1;
	height: 14px;
	margin-left: 6px;
	margin-right: 6px;
}

.toolbar .mini-button-menu {
	background: url(images/default-toolbar-small-s-arrow.png) no-repeat 0px
		50%;
}

.toolbar .mini-button-allow {
	width: 18px;
}
/* refresh */
.mini-button.refresh,a:hover.mini-button.refresh,.refresh.mini-button-checked,a.refresh:hover.mini-button-checked
	{
	color: #b6b4b7;
	background: transparent;
	border: 0;
}
/* textbox
==========================================*/
.mini-textbox-border {
	background: white;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	outline: 0;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	box-sizing: border-box;
}

.mini-textbox-border:hover,.mini-textbox-focus .mini-textbox-border {
	background-color: #fff;
	border-color: #666;
}

body .mini-error .mini-textbox-border,body .mini-error .mini-buttonedit-border,body .mini-error .mini-textboxlist-border
	{
	border-color: #ffa8a8;
	background-color: #fff;
}

.mini-textbox-input {
	color: #000;
}

/* .mini-labelfield-label {
	text-align: right;
	    left: -15px;
	padding-left: 10px;
	border: solid 1px #d9d9d9;
	border-right: none;
	background-color: #f3f3f3;
} */
.mini-labelfield-label {
	text-align: right;
	/*     left: -15px; */
	padding-left: 10px;
	border: solid 1px #ffffff;
	border-right: none;
	background-color: #ffffff;
}

.mini-required .mini-textbox-border,.mini-required .mini-buttonedit-border
	{
	background-color: white;
}

body .mini-invalid .mini-textbox-border,body .mini-invalid .mini-buttonedit-border
	{
	background-color: white;
}
/* buttonedit
==========================================*/
.mini-buttonedit-border {
	background: white;
	border: 1px solid #e6e6e6;
}

.mini-buttonedit-focus .mini-buttonedit-border,.mini-buttonedit-border:hover
	{
	background-color: #fff;
	border-color: #D2D2D2;
}

.mini-buttonedit-input {
	color: #000;
}

.mini-buttonedit-button {
	background: #fff;
	border-color: #fff;
	color: #444;
}

.mini-buttonedit-button-hover,.mini-buttonedit-hover .mini-buttonedit-trigger
	{
	color: #444;
	background: #fff;
	border-color: #fff;
}

.mini-buttonedit-button-hover {
	color: #444;
	background: #fff;
	border-color: #fff;
}

.mini-buttonedit-button-pressed,.mini-buttonedit-popup .mini-buttonedit-trigger
	{
	color: #444;
	background: #fff;
	border-color: #fff;
}

.mini-buttonedit-button {
	width: 24px;
	height: 30px;
}

.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon {
	background: url(images/combo/combo-arrow_1.png) no-repeat 1px 4px;
}

.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon {
	background: url(images/date-trigger.png) no-repeat -70px -4px;
	opacity: .7;
}

.mini-datepicker .mini-buttonedit-trigger.mini-buttonedit-button-hover .mini-buttonedit-icon
	{
	background: url(images/date-trigger.png) no-repeat -70px -4px;
	opacity: .7;
}

.mini-buttonedit-up span {
	background: url(images/spinner.png) no-repeat 50% 4px;
}

.mini-buttonedit-down span {
	background: url(images/spinner.png) no-repeat 50% -12px;
}

/* textboxlist
==========================================*/
.mini-textboxlist-border {
	border-color: #ddd;
}

.mini-textboxlist-focus .mini-textboxlist-border {
	background-color: #f1f8fd;
	border-color: #6ea6cc;
}

.mini-textboxlist-item {
	color: #444;
}

/* htmlfile
==========================================*/
/*.mini-htmlfile .mini-buttonedit-button
{
	color:transparent;			
    background: url(../../../images/fileupload.png) no-repeat 4px 0;
    border-color: transparent;
    border-left:1px solid #ddd;
    width:30px;        
} */
.mini-htmlfile .mini-buttonedit-button {
	color: #fff;
	background: #0065d2;
	border-color: #0065d2;
	line-height: 25px;
}

/* outlookbar
==========================================*/
.mini-outlookbar-border {
	border-color: #fff;
	padding: 1px 5px 5px 5px;
	background: #fff;
	border: 0;
}

.mini-outlookbar .mini-outlookbar-groupHeader {
	border-color: #fff;
	background: #dfeaf2;
	color: #666;
	border-top: 4px solid #fff;
}

.mini-outlookbar .mini-outlookbar-hover {
	background: #e6f1f9;
	color: #666;
}

.mini-outlookbar-expand .mini-outlookbar-groupHeader {
	background: #dfeaf2;
	color: #666;
}

.mini-outlookbar .mini-outlookbar-group {
	border-color: #fff;
}

.mini-outlookbar .mini-outlookbar-groupBody {
	border-color: #e5e5e5;
}

.mini-outlookbar-view2 .mini-outlookbar-groupHeader {
	border-color: #ddd;
}

.mini-outlookbar-view2 .mini-outlookbar-groupBody {
	background: #f8f8f8;
}

.mini-outlookbar-view3 .mini-outlookbar-group {
	border-color: #ddd;
}

.mini-outlookbar .mini-outlookbar-expand .mini-tools .mini-tools-collapse
	{
	background: url(images/tool-sprites-dark.png) no-repeat 0 -272px;
}

.mini-outlookbar .mini-tools .mini-tools-collapse {
	background: url(images/tool-sprites-dark.png) no-repeat 0 -256px;
}

.mini-menu .mini-menuitem-showcheck .mini-menuitem-icon {
	background: url(images/checkbox_1.png) no-repeat 0px 0px;
}

.mini-menu .mini-menuitem-checked .mini-menuitem-icon {
	background: url(images/checkbox_1.png) no-repeat 0px -16px;
}

/* splitter
==========================================*/
.mini-splitter-border {
	border-color: #ddd;
}

.mini-splitter .mini-splitter-pane1 {
	border-color: #ddd;
}

.mini-splitter .mini-splitter-pane2 {
	border-color: #ddd;
}

/* layout
==========================================*/
.mini-layout-region-header {
	border: 0;
	background: #d9d9d9;
	height: 36px;
}

.mini-layout-border {
	border: 1px solid #d9d9d9;
}

.mini-layout-region {
	border: 0;
}

.mini-layout-split {
	background-color: #3892d3;
}

.mini-layout-proxy {
	padding: 10px 7px;
	background-image: none;
	background-color: #157fcc;
	color: white;
	font-weight: 400;
	border: 0;
}

.mini-layout-region-title {
	color: #fff;
	font-weight: bold;
	line-height: 34px;
}

.mini-layout-spliticon {
	width: 8px;
	height: 48px;
	background: url(images/mini-left.png) no-repeat 50% 50%;
}

.mini-layout-proxy.mini-layout-proxy-west .mini-tools .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 0px -176px;
}

.mini-layout-proxy.mini-layout-proxy-west .mini-tools {
	right: 11px;
	top: 11px;
}

.mini-layout-proxy-text {
	top: 24px;
	left: 2px;
}

.mini-layout-region-west .mini-layout-region-header .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 0px -192px;
}

.mini-layout-region.mini-layout-region-west .mini-tools {
	top: 8px;
}

.mini-layout-split-west .mini-layout-spliticon-collapse {
	background: url(images/mini-right.png) no-repeat 50% 50%;
}

.mini-layout-region-east .mini-layout-region-header .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 0px -176px;
}

.mini-layout-proxy.mini-layout-proxy-east .mini-tools .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 0px -192px;
}

.mini-layout .mini-menuitem {
	background: url(images/layoutline.png) no-repeat 13px 50%;
}

.mini-layout .mini-menuitem.mini-menuitem-selected {
	background: url(images/layoutline2.png) no-repeat 12px 50%;
}

.mini-layout-region-west {
	border-right: 0;
}

.mini-layout-split-east .mini-layout-spliticon {
	background: url(images/mini-right.png) no-repeat 50% 50%;
}

.mini-layout-split-east .mini-layout-spliticon-collapse {
	background: url(images/mini-left.png) no-repeat 50% 50%;
}

.mini-layout-split-north .mini-layout-spliticon {
	width: 48px;
	height: 8px;
	background: url(images/mini-top.png) no-repeat 50% 50%;
}

.mini-layout-split-north .mini-layout-spliticon-collapse {
	width: 48px;
	height: 8px;
	background: url(images/mini-bottom.png) no-repeat 50% 50%;
}

.mini-layout-split-south .mini-layout-spliticon {
	width: 48px;
	height: 8px;
	background: url(images/mini-bottom.png) no-repeat 50% 50%;
}

.mini-layout-split-south .mini-layout-spliticon-collapse {
	background: url(images/mini-top.png) no-repeat 50% 50%;
}

.mini-layout-region.mini-layout-region-east .mini-tools {
	top: 9px;
}

.mini-layout-region-header .mini-tools,.mini-layout-proxy .mini-tools {
	right: 10px;
}

.mini-tools {
	top: 9px;
}

.mini-layout-region-south .mini-layout-region-header .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 50% -208px;
}

.mini-layout-region-north .mini-layout-region-header .mini-tools-collapse
	{
	background: url(images/tool-sprites2.png) no-repeat 50% -208px;
}
/* pager
==========================================*/
.mini-pager {
	background: #fbfbfb;
	border-color: #ddd;
	color: #444;
	height: 22px;
	line-height: 22px;
	padding: 0px 8px 3px 4px;
}

.mini-pager .mini-buttonedit {
	height: 18px;
}

.mini-pager .mini-buttonedit-input {
	height: 14px;
	line-height: 14px;
}

.mini-pager .mini-buttonedit-button {
	height: 14px;
	width: 14px;
}

.mini-pager .mini-buttonedit-border {
	height: 16px;
/* 	padding-left: 4px; */
}

.mini-pager .mini-button {
	color: #444;
}

.mini-pager .mini-button-text {
	line-height: 20px;
}



body .mini-pager .mini-button-plain {
	border: 1px solid transparent;
	padding: 0;
}

body .mini-pager a:hover.mini-button {
	background: transparent;
	border-color: transparent;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	color: white;
}

body .mini-pager .mini-button-pressed,body .mini-pager a:hover.mini-button-pressed,body .mini-pager .mini-button-checked,body .mini-pager a:hover.mini-button-checked,body .mini-pager a.mini-button-popup,body .mini-pager a:hover.mini-button-popup
	{
	background: transparent;
	border-color: #ddd;
	opacity: 1;
	filter: alpha(opacity = 100);
	color: #fff;
}

.mini-pager .mini-listbox-item:first-child td {
	color: #fff;
}

.mini-pager .mini-listbox-item-selected td {
	background: #1097fa;
	color: #fff;
}
/*.mini-pager-reload 
{
    background: url(images/pager/refresh.png) no-repeat 0px 0px;
}
.mini-pager-first 
{
    background: url(images/pager/page-first.png) no-repeat 0px 0px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.mini-pager-prev 
{
    background: url(images/pager/page-prev.png) no-repeat 0px 0px;
}
.mini-pager-next 
{
    background: url(images/pager/page-next.png) no-repeat 0px 0px;
}
.mini-pager-last 
{
    background: url(images/pager/page-last.png) no-repeat 0px 0px;
}
body .mini-pager a:hover.mini-button
{
    background: #e1e1e1;
    border-color: #e1e1e1;
    padding:0;  
}
body .mini-pager .mini-button-pressed, body .mini-pager a:hover.mini-button-pressed,
body .mini-pager .mini-button-checked, body .mini-pager a:hover.mini-button-checked,
body .mini-pager a.mini-button-popup, body .mini-pager a:hover.mini-button-popup
{
    background: #e1e1e1;
    border-color: #e1e1e1; 
}
body .mini-pager a.mini-button-disabled, body .mini-pager a:hover.mini-button-disabled
{
    
    color:#444;
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding:0;	
}
*/

/* tree
==========================================*/
.mini-tree-node-hover .mini-tree-nodetitle,.mini-tree-node-hover .mini-tree-nodeshow
	{
	background: #e2eff8;
	border-color: #e2eff8;
}

.mini-tree-selectedNode .mini-tree-nodetitle,.mini-tree-selectedNode .mini-tree-nodeshow
	{
	background: #c1ddf1;
	border-color: #c1ddf1;
}

.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first,.mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon
	{
	background: transparent url(images/elbow-plus.png) no-repeat 0px 0px;
}

.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first,.mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon
	{
	background: transparent url(images/elbow-minus.png) no-repeat 0px 0px;
}

.mini-tree-collapse .mini-tree-node-ecicon {
	background: transparent url(images/elbow-plus-noline.png) no-repeat 50%
		50%;
}

.mini-tree-expand .mini-tree-node-ecicon {
	background: transparent url(images/elbow-minus-noline.png) no-repeat 50%
		50%;
}

.mini-tree-leaf {
	background-image: url(images/leaf.png);
}

.mini-tree-folder {
	background-image: url(images/folder.png);
}

.mini-tree-expand .mini-tree-folder {
	background-image: url(images/folder-open.png);
}

.mini-tree-checkbox {
	width: 15px;
	height: 15px;
	background: url(images/checkbox_1.png) no-repeat 0 0;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 1px;
}

.mini-tree-checkbox-checked {
	background-position: 0 -15px;
}

.mini-tree-checkbox-indeterminate {
	background-position: -15px -15px;
}

/* tree arrow */
.arrow .mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first,.arrow .mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon,.arrow .mini-tree-collapse .mini-tree-node-ecicon
	{
	background: transparent url(images/arrows.png) no-repeat 0px 50%;
}

.arrow .mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first,.arrow .mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon,.arrow .mini-tree-expand .mini-tree-node-ecicon
	{
	background: transparent url(images/arrows.png) no-repeat -16px 50%;
}
/* treegrid */
.mini-treegrid.mini-tree .mini-grid-viewport {
	background: #fff;
}

/* listbox
==========================================*/
.mini-listbox-border {
	border-color: #ddd;
}

.mini-listbox-header {
	background: #f8f8f8;
	border-color: #ddd;
}

.mini-listbox-header td {
	border-color: #ddd;
}

.mini-listbox-item td {
	border-color: #ddd;
	color: #444;
}

.mini-listbox-item-hover td {
	background: #f9f9f9;
}

.mini-listbox-item-selected td {
	background: #f2f2f2;
	color: #000;
}

.mini-listbox td {
	line-height: 26px;
	padding-left: 10px;
}

/* tabs
==========================================*/
.mini-tabs-header tbody tr td {
	margin: 1px;
}

.mini-tabs-scrollCt {
	border: 0;
	background: #fff;
}

body .mini-tabs-plain .mini-tabs-scrollCt {
	background: transparent;
}

.mini-tabs-leftButton,.mini-tabs-rightButton,.mini-tabs-tabmenu {
	border-color: transparent;
	background-color: #f8f8f8;
}

a:hover.mini-tabs-leftButton,a:hover.mini-tabs-rightButton,a:hover.mini-tabs-tabmenu
	{
	border-color: transparent;
	background-color: #fff;
}

.mini-tabs-position-top .mini-tabs-header {
	margin-top: 0px;
}

.mini-tabs-nav {
	top: 13px;
}
/* top */
.mini-tabs-bodys {
	border-color: #fff;
	top: 0px;
	background: #f5f5f5;
	/* padding: 12px 0 0 12px; */
}

.mini-tabs-space {
	border: 0;
	border-bottom: solid 1px #e2e2e2;
	width: 0;
}

.mini-tabs-space div {
	width: 0px;
}

.mini-tabs-space2  div {
	width: 3px;
}

.mini-tabs-space2 {
	border-color: #4b9cd7;
	border-bottom: solid 1px #e2e2e2;
}

.mini-tab {
	padding:0 14px;
	font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1,
		Tahoma, Arial, sans-serif;
	background: #ececec;
	border-color: #ececec;
	color: #000;
	border-radius: 3px 3px 0 0;
	transition: all .2s;
	-webkit-transition: all .2s;
	border-bottom-color: #e2e2e2;
}

.mini-tab-text {
	
}

body .mini-tab-hover {
	background: #eb4339;
}

.mini-tab-hover .mini-tab-text {
	color: #fff;
}

.mini-tab-active,body .mini-tab.mini-tab-active {
	border-color: #ececec;
	background: #eb4339;
	color: #fff;
	position: relative;
	/*border-bottom-color:#fff;*/
}

.mini-tab-active:after {
	content: '';
	position: absolute;
	top: 0;
	height: 4px;
	left: 0;
	right: 0;
	background-color: #eb4339;
}

.mini-tab.mini-disabled {
	background: #4b9cd7;
	opacity: .5;
	cursor: default;
}

.mini-tab-close-hover {
	background-color: transparent;
}

.mini-tab-active .mini-tab-icon {
	color: #157fcc;
}

.mini-tab .mini-tab-icon {
	opacity: .5;
	margin-right: 5px;
}

.mini-tab-close {
	background: url(images/tabs/tabclose.png) no-repeat 5px 5px;
	margin-left: 6px;
	width: 18px;
	height: 18px;
	/* background: transparent;  
    filter:  
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=miniui/themes/xinli-red/images/tabs/tabclose.png,sizingMethod='crop'); */
}

.mini-tab-active .mini-tab-close {
	background: url(images/tabs/tabclose2.png) no-repeat -9px 5px;
	/* background: transparent;  
    filter:  
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=miniui/themes/xinli-red/images/tabs/tabclose2.png,sizingMethod='crop'); */
}

.mini-tab-close:hover {
	background: url(images/tabs/tabclose2.png) no-repeat -9px 5px;
	width: 18px;
	height: 18px;
	/* background: transparent;  
    filter:  
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=miniui/themes/xinli-red/images/tabs/tabclose2.png,sizingMethod='crop');  
 */
}

/* bottom */
.mini-tabs-header-bottom .mini-tabs-space,.mini-tabs-header-bottom .mini-tabs-space2
	{
	border-color: #ddd;
}

.mini-tabs-header-bottom .mini-tabs-bodys {
	border-color: #ddd;
}

.mini-tabs-header-bottom .mini-tab-active {
	border-top-color: white;
	border-bottom-color: #ddd;
}

.mini-tabs-body-bottom {
	border-color: #ddd;
}
/* left */
.mini-tabs-header-left .mini-tabs-space,.mini-tabs-header-left .mini-tabs-space2
	{
	border-color: #ddd;
}

.mini-tabs-header-left .mini-tabs-bodys {
	border-color: #ddd;
}

.mini-tabs-header-left .mini-tab-active {
	border-color: #ddd;
	border-right-color: white;
}

.mini-tabs-body-left {
	border-color: #ddd;
}
/* right */
.mini-tabs-header-right .mini-tabs-space,.mini-tabs-header-right .mini-tabs-space2
	{
	border-color: #ddd;
}

.mini-tabs-header-right .mini-tabs-bodys {
	border-color: #ddd;
}

.mini-tabs-header-right .mini-tab-active {
	border-color: #ddd;
	border-left-color: white;
}

.mini-tabs-body-right {
	border-color: #ddd;
}
/*bordered*/
.mini-tabs-header-top .mini-tab-active {
	border-radius: 3px 3px 0 0;
}

.mini-tabs-header-bottom .mini-tab-active {
	border-bottom: solid 3px #4c8fbd;
	padding-bottom: 1px;
}

.mini-tabs-header-left .mini-tab.mini-tab-active {
	border-right: 0px;
}

.mini-tabs-header-left .mini-tab {
	border-color: #e2e2e2;
	border-right: solid 2px #eb4339;
}

.mini-tabs-header-right .mini-tab-active {
	border-left: solid 3px #1e9fff;
	padding-right: 10px;
}
/* tab big */
.big .mini-tab {
	padding: 10px 30px 10px 30px;
}

.brief.big .mini-tab-active {
	padding-bottom: 9px;
}

.brief.big .mini-tabs-header {
	margin-top: 4px;
}
/* tab brief */
.brief .mini-tab-active { /* color:#1097fa; */
	border-color: #fff;
	border-bottom: 2px solid #eb4339;
	padding-bottom: 8px;
}
/* tab card */
.card .mini-tabs-bodys {
	border: 1px solid #e2e2e2;
	border-top: 0;
	border-radius: 2px;
	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);*/
}

.card .mini-tab,.card .mini-tabs-header {
	background: #f2f2f2;
}

.card .mini-tabs-header {
	border: 1px solid #e2e2e2;
	border-bottom: 0;
}

.card .mini-tab {
	border-color: #f2f2f2;
}

.card .mini-tabs-space2 {
	display: none;
}

.card .mini-tab-active {
	background: #fff;
	border-color: #e2e2e2;
	border-bottom-color: #fff;
}

.mini-tabs-leftnav {
	top: 14px;
}
/* tooltip
==========================================*/
.mini-tooltip-inner {
	border-color: #ddd;
	border-radius: 0px;
}

/* calendar
==========================================*/
.mini-calendar {
	border-color: #e1e1e1;
	background-color: white;
}

.mini-calendar-header {
	background-image: none;
	background-color: #f5f5f5;
	border-color: #ddd;
	height: 30px;
}

.mini-calendar-footer {
	border-color: #ddd;
	background: #f1f5f9;
}

.mini-calendar-tadayButton,.mini-calendar-clearButton,.mini-calendar-okButton,.mini-calendar-cancelButton
	{
	background: #1780f4;
	border-color: #0065d2;
	color: #fff;
	font-weight: 400;
	border-radius: 3px;
	margin-top: 5px;
}

.mini-calendar-tadayButton:hover,.mini-calendar-clearButton:hover,.mini-calendar-okButton:hover,.mini-calendar-cancelButton:hover
	{
	background: #0065d2;
	border-color: #0065d2;
}

.mini-calendar .mini-calendar-today {
	border-color: #3892d3;
}

.mini-calendar-daysheader td {
	border-color: #ddd;
}

.mini-calendar-menu {
	border-color: #ddd;
}

.mini-calendar-title,.mini-calendar-menu-year,.mini-calendar-menu-month
	{
	font-weight: 400;
	color: #0065d2;
	line-height: 22px;
}

.mini-calendar-title {
	line-height: 30px;
}

.mini-calendar .mini-calendar-selected,.mini-calendar-menu-selected,a:hover.mini-calendar-menu-month,a:hover.mini-calendar-menu-year
	{
	color: #fff;
	background-color: #0065d2;
	border-color: #0065d2;
}

.mini-calendar .mini-calendar-selected {
	font-weight: 400;
}

.mini-calendar .mini-calendar-othermonth {
	color: #bfbfbf;
}

.mini-calendar .mini-calendar-weekend {
	color: black;
}

.mini-calendar-days td {
	font: normal 14px helvetica, arial, verdana, sans-serif;
}

.mini-calendar-yearPrev {
	background: url(images/arrow-dbleft.png) no-repeat 50% 3px;
	width: 18px;
	height: 18px;
}

.mini-calendar-monthPrev {
	background: url(images/arrow-left.png) no-repeat 50% 3px;
	width: 18px;
	height: 18px;
}

.mini-calendar-monthNext {
	background: url(images/arrow-right.png) no-repeat 50% 3px;
	width: 18px;
	height: 18px;
}

.mini-calendar-yearNext {
	background: url(images/arrow-dbright.png) no-repeat 50% 3px;
	width: 18px;
	height: 18px;
}
/* progressbar
==========================================*/
.mini-progressbar {
	height: 6px;
	border-radius: 20px;
	background-color: #e2e2e2;
}

.mini-progressbar-border {
	border-color: transparent;
	height: 6px;
	border-radius: 20px;
}

.mini-progressbar-bar {
	background: #5FB878;
	border-radius: 20px;
	height: 6px;
	top: -1px;
	left: -1px;
}

.mini-progressbar-text {
	color: #222;
	top: -18px;
}
/* progress big */
.mini-progressbar.big,.mini-progressbar.big .mini-progressbar-border,.mini-progressbar.big .mini-progressbar-bar
	{
	height: 18px;
}

.mini-progressbar.big .mini-progressbar-text {
	top: -3px;
}

.mini-progressbar.red .mini-progressbar-bar {
	background: #FF5722;
}

.mini-progressbar.orange .mini-progressbar-bar {
	background: #FFB800;
}

.mini-progressbar.green .mini-progressbar-bar {
	background: #1e9fff;
}

.mini-progressbar.blue .mini-progressbar-bar {
	background: #1E9FFF;
}

.mini-progressbar.cyan .mini-progressbar-bar {
	background: #2F4056;
}

/* fieldset */
.mini-fieldset {
	padding: 0;
	padding-bottom: 2px;
	border: 1px solid #e2e2e2;
}

.mini-fieldset.title {
	border: none;
	border-top: 1px solid #e2e2e2;
}

.mini-fieldset legend {
	margin-left: 20px;
	padding: 0 10px;
	font-weight: 300;
}

/* button */
.mini-button-text {
	line-height: 24px;
}

.mini-button-text {
	
}

.mini-button .mini-button-icon-only .mini-button-icon {
	left: 0px;
	width: 100%;
	top: 50%;
}

.mini-button.big .mini-button-icon-only .mini-button-icon {
	
}

.mini-button.radius {
	border-radius: 100px;
}

.big {
	line-height: 42px;
}

.big .mini-button-text,body a:hover.mini-button.big .mini-button-text {
	padding: 0 25px;
}

.mini-button.big .mini-button-icon-only,body a:hover.mini-button.big .mini-button-icon-only
	{
	padding: 0 25px;
}

.small {
	line-height: 28px;
}

.small .mini-button-text,body a:hover.mini-button.small .mini-button-text
	{
	padding: 0 10px;
}

.mini-button.small .mini-button-icon-only,body a:hover.mini-button.small .mini-button-icon-only
	{
	padding: 0 14px;
}

.mini {
	line-height: 20px;
}

.mini .mini-button-text,body a:hover.mini-button.mini .mini-button-text
	{
	padding: 0 5px;
}

.mini-button.small .mini-button-icon-text,body a:hover.mini-button.small .mini-button-icon-text,.mini-button.mini .mini-button-icon-text,body a:hover.mini-button.mini .mini-button-icon-text
	{
	padding-left: 25px;
}

.small .mini-button-icon,.mini .mini-button-icon {
	top: 60%;
}

.site-demo-button div {
	margin: 20px 30px 10px;
}

.site-demo-button .mini-button {
	margin: 0 7px 10px 0;
}
/* btn-group */
.group {
	display: inline-block;
	vertical-align: middle;
}

.group .mini-button {
	margin-right: 0;
	margin-left: 0;
	border-left: 1px solid rgba(255, 255, 255, .5);
	border-radius: 0;
}

.group .primary {
	border-left: none;
}

.group .primary:hover {
	border-color: #c9c9c9;
	color: #1e9fff;
}

body .group a:hover.mini-button.primary {
	border-color: #c9c9c9;
	color: #1e9fff;
	border-left: none;
}

.group .mini-button:first-child {
	border-radius: 2px 0 0 2px;
	border-left: none;
}

.group .primary:first-child,body .group a:first-child.mini-button.primary
	{
	border-left: 1px solid #c9c9c9;
}

.group .mini-button:last-child {
	border-radius: 0px 2px 2px 0px;
}
/* textbox */
.mini-form .mini-textbox {
	margin-bottom: 15px;
}

.mini-textbox {
	height: 32px;
}

.mini-labelfield-label {
	line-height: 28px;
}

.mini-textbox-border {
	padding-left: 10px;
	height: 28px;
}

.mini-textbox-input {
	height: 26px;
	line-height: 26px;
}
/* buttonedit */
.mini-form .mini-buttonedit {
	margin-bottom: 15px;
}

.mini-buttonedit {
	height: 32px;
	border: 1px solid #d9d9d9;
}

.mini-buttonedit:focus {
	border: 1px solid #666;
}

.mini-buttonedit-border {
	height: 28px;
	padding-left: 10px;
}

.mini-buttonedit-input {
	height: 26px;
	line-height: 30px;
}
/* miniui-elem-quote */
.miniui-elem-quote {
	margin-bottom: 10px;
	padding: 15px;
	line-height: 22px;
	border-left: 5px solid #1e9fff;
	border-radius: 0 2px 2px 0;
	background-color: #f2f2f2;
} /*弹框确定取消按钮 */
.mini-panel-border .mini-messagebox-buttons .mini-button {
	background: #ececec;
	border-color: #d9d9d9;
	color: #000;
}

.mini-panel-border .mini-messagebox-buttons .mini-button:first-child {
	background: #ee5e53;
	border: 1px solid #ee5e53;
	color: #fff;
}

.mini-panel-border .mini-messagebox-buttons .mini-button:hover {
	background: #eb4339;
	border: 1px solid #eb4339;
	color: #fff;
}

.mini-fit .mini-button {
	margin-right: 0;
}

.mini-iconfont { /*  display: none; */
	
}

.mini-menubutton .mini-iconfont {
	display: inline-block;
}

.mini-button .mini-button-icon-text {
	padding: 0 15px;
}

.mini-menubutton.mini-button .mini-button-icon-text {
	padding-left: 25px;
}

.mini-separator {
	display: none;
	border-top: solid 1px #9b9b9b;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left: 26px;
}

.mini-listbox-item-hover {
	background: #f2f2f2;
}

.mini-listbox-item-selected {
	background: #f9f9f9;
	color: #000;
}

.mini-grid-rightCell .mini-button {
	padding: 5px 10px;
}

.mini-grid-cell-nowrap .mini-button:hover {
	padding: 5px 10px;
	border: 1px solid #fab130;
	/* background:#fcf8f1; */
	text-decoration: none;
}

body .mini-textbox-disabled .mini-textbox-border {
	background: #f7f7f7;
	color: #000;
	cursor: default;
}

body .mini-buttonedit-disabled .mini-buttonedit-border,body .mini-buttonedit-disabled .mini-buttonedit-input
	{
	background: #f7f7f7;
	/* color: #000; */
	cursor: default;
}

html body .mini-grid .mini-grid-cell-selected {
	background: #fcf5f6;
}

.mini-fieldset legend,.mini-fieldset legend label {
	font-weight: 400;
}

.mini-splitter-pane2 .mini-iconfont {
	display: inline-block
}

.mini-splitter-pane2 .mini-button-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin-top: -10px; +
	margin-top: -11px;
}

.mini-splitter-pane2 .mini-button .mini-button-icon-text {
	padding-left: 40px;
}

.mini-splitter-pane2  .sl-checkok-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1342px !important
}

.mini-splitter-pane2 .sl-save-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1371px !important
}

.mini-splitter-pane2 .sl-moeneydown-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1427px !important
}

.mini-splitter-pane2 .sl-moeneyup-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1458px !important
}

.mini-splitter-pane2 .sl-concricle-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -63px -1484px !important
}

.mini-splitter-pane2 .sl-moneyrecycle-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1512px !important
}

.mini-splitter-pane2 .sl-contacts-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1537px !important
}

.mini-splitter-pane2 .sl-fee-white {
	background: url(../icons/sl_icons.png) no-repeat;
	background-position: -64px -1565px !important
}

.mini-tabs-scrollCt .mini-tabs-headers .mini-tab-active .mini-tab-text {
	color: #fff;
}

/* input提示文字颜色 */
input::-webkit-input-placeholder {
	color: #757575;
}

.mini-buttonedit-input::-webkit-input-placeholder {
	
}
/* input聚焦提示文字消失 */
input:focus::-webkit-input-placeholder {
	color: transparent; /*颜色透明*/
}

.mini-list-inner .mini-checkboxlist-item {
	margin-right: 0px;
}

.little-tip {
	color: #0065d2;
}

.ant-menu-scrollable .ant-menu-item:hover {
	background: #ffedec;
	color: #000;
}

.ant-menu-scrollable .ant-menu-item>a:hover {
	color: #000;
}

.mini-grid-row-alt {
	background: #f9f9f9;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.mini-portal .mini-portal-table {
	padding: 10px 0 0 0;
}

#search_form .mini-button,.btn_div .mini-button,.institution_search_form .mini-button,.mini-fieldset .mini-button
	{
	background: #fe931f;
	border-color: #fe931f;
	color: #ffffe5;
}

#search_form .mini-button:hover,.institution_search_form .mini-button:hover,.mini-fieldset .mini-button:hover
	{
	background: #fe931f;
	border-color: #fe931f;
	color: #fff;
}

.mini-form legend {
	font-weight: 400;
	/* color:#0065d2; */
}

body fieldset {
	border: 1px solid #d9d9d9;
}

 /* body .logo {
	background: url("../../../menu/menu_top4.png") no-repeat 0 0;
	color: #fff;
} */ 

/* 兼容IE8 */
.mini-button {
	padding-left: 15px\9;
	padding-right: 15px\9;
	line-height: 32px\9;
}

body #search_form .mini-button:hover,body #fd2 .mini-button:hover,body #button .mini-button:hover,html body .mini-fieldset .mini-button:hover
	{
	padding-left: 15px\9;
	padding-right: 15px\9;
	line-height: 32px\9;
	background-color: #fdbd46;
	border-color:#fdbd46;
}

body a:hover.mini-button {
	padding-left: 15px\9;
	padding-right: 15px\9;
	line-height: 32px\9;
}

.mini-menubutton .mini-button {
	padding-left: 0px\9;
	padding-right: 0px\9;
	line-height: 32px\9;
}

body a.mini-button-popup,body a:hover.mini-button-popup,body a.mini-button-disabled,body a:hover.mini-button-disabled
	{
	padding-left: 15px\9;
	padding-right: 15px\9;
}
.product_lf{ color:#eb4339!important;}