.icon-add {
	background: url(icons/add.gif) no-repeat;
}

.icon-addnew {
	background: url(icons/addnew.gif) no-repeat;
}

.icon-edit {
	/* background: url(icons/edit.gif) no-repeat; */
}

.icon-remove {
	background: url(icons/remove.gif) no-repeat;
}

.icon-save {
	background: url(icons/save.gif) no-repeat;
}

.icon-close {
	background: url(icons/cancel.gif) no-repeat;
}

.icon-cut {
	background: url(icons/cut.png) no-repeat;
}

.icon-ok {
	background: url(icons/ok.png) no-repeat;
}

.icon-no {
	background: url(icons/no.png) no-repeat;
}

.icon-cancel {
	background: url(icons/cancel.gif) no-repeat;
}

.icon-reload {
	background: url(icons/reload.png) no-repeat;
}

.icon-search {
	background: url(icons/search.gif) no-repeat;
}

.icon-print {
	background: url(icons/print.gif) no-repeat;
}

.icon-help {
	background: url(icons/help.gif) no-repeat;
}

.icon-undo {
	background: url(icons/undo.gif) no-repeat;
}

.icon-redo {
	background: url(icons/redo.gif) no-repeat;
}

.icon-tip {
	background: url(icons/tip.png) no-repeat;
}

.icon-zoomin {
	background: url(icons/zoomin.gif) no-repeat;
}

.icon-zoomout {
	background: url(icons/zoomout.gif) no-repeat;
}

.icon-goto {
	background: url(icons/goto.gif) no-repeat;
}

.icon-date {
	background: url(icons/date.gif) no-repeat;
}

.icon-filter {
	background: url(icons/filter.gif) no-repeat;
}

.icon-find {
	background: url(icons/find.png) no-repeat;
}

.icon-folder {
	background: url(icons/folder.gif) no-repeat;
}

.icon-folderopen {
	background: url(icons/folder-open.gif) no-repeat;
}

.icon-lock {
	background: url(icons/lock.png) no-repeat;
}

.icon-unlock {
	background: url(icons/unlock.gif) no-repeat;
}

.icon-new {
	background: url(icons/new.gif) no-repeat;
}

.icon-node {
	background: url(icons/node.png) no-repeat;
}

.icon-nowait {
	background: url(icons/nowait.gif) no-repeat;
}

.icon-sort {
	background: url(icons/sort.gif) no-repeat;
}

.icon-wait {
	background: url(icons/wait.gif) no-repeat;
}

.icon-upgrade {
	background: url(icons/upgrade.gif) no-repeat;
}

.icon-downgrade {
	background: url(icons/downgrade.gif) no-repeat;
}

.icon-download {
	background: url(icons/download.gif) no-repeat;
}

.icon-upload {
	background: url(icons/upload.gif) no-repeat;
}

.icon-user {
	background: url(icons/user.png) no-repeat;
}

.icon-split {
	background: url(icons/split.gif) no-repeat;
}

.icon-addfolder {
	background: url(icons/addfolder.gif) no-repeat;
}

.icon-expand {
	background: url(icons/expand.gif) no-repeat;
}

.icon-collapse {
	background: url(icons/collapse.gif) no-repeat;
}

.icon-columns {
	background: url(icons/columns.png) no-repeat;
}

.edit-tesk {
	background: url(icons/edit_task.png) no-repeat;
}

.arrow_switch {
	background: url(icons/arrow_switch.png) no-repeat;
}

.new_tab {
	background: url(icons/new_tab.gif) no-repeat;
}

.tabs {
	background: url(icons/tabs.gif) no-repeat;
}

.sort_asc {
	background: url(icons/sort_asc.png) no-repeat;
}

.sort_desc {
	background: url(icons/sort_desc.png) no-repeat;
}
/********************************************************************************* **/

/* sl_icon */
.sl-icon {
	font-size: 27px;
}

.sl-next-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -11px !important
}

.sl-next-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -10px !important
}

.sl-next-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -38px !important
}

.sl-previous-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -40px !important
}

.sl-previous-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -38px !important
}

.sl-previous-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -38px !important
}

.sl-delete-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -67px !important
}

.sl-delete-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -65px !important
}

.sl-delete-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -65px !important
}

.sl-add-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -92px !important
}

.sl-add-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -92px !important
}

.sl-add-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -92px !important
}

.sl-cancel-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -119px !important
}

.sl-cancel-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -119px !important
}

.sl-cancel-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -119px !important
}

.sl-ok-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -146px !important
}

.sl-ok-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -146px !important
}

.sl-ok-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -146px !important
}

.sl-junk-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -172px !important
}

.sl-junk-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -172px !important
}

.sl-junk-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -172px !important
}

.sl-search-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -199px !important
}

.sl-search-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -199px !important
}

.sl-search-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -199px !important
}

.sl-write-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -227px !important
}

.sl-write-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -227px !important
}

.sl-write-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -227px !important
}

.sl-refresh-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -253px !important
}

.sl-refresh-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -253px !important
}

.sl-refresh-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -253px !important
}

.sl-repeat-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -282px !important
}

.sl-repeat-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -280px !important
}

.sl-repeat-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -280px !important
}

.sl-print-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -308px !important
}

.sl-print-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -308px !important
}

.sl-print-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -308px !important
}

.sl-new-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -335px !important
}

.sl-new-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -335px !important
}

.sl-new-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -335px !important
}

.sl-book-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -363px !important
}

.sl-book-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -361px !important
}

.sl-book-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -361px !important
}

.sl-share-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -389px !important
}

.sl-share-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -389px !important
}

.sl-share-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -389px !important
}

.sl-sun-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -417px !important
}

.sl-sun-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -415px !important
}

.sl-sun-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -415px !important
}

.sl-user-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -433px !important
}

.sl-user-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -442px !important
}

.sl-user-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -442px !important
}

.sl-menu-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -471px !important
}

.sl-menu-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -469px !important
}

.sl-menu-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -469px !important
}

.sl-smaller-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -497px !important
}

.sl-smaller-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -495px !important
}

.sl-smaller-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -495px !important
}

.sl-bigger-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -522px !important
}

.sl-bigger-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -520px !important
}

.sl-bigger-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -520px !important
}

.sl-mail-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -546px !important
}

.sl-mail-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -544px !important
}

.sl-mail-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -544px !important
}

.sl-location-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -18px -569px !important
}

.sl-location-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -569px !important
}

.sl-location-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -569px !important
}

.sl-status-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -598px !important
}

.sl-status-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -596px !important
}

.sl-status-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -625px !important
}

.sl-dashboard-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -23px -614px !important
}

.sl-dashboard-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -623px !important
}

.sl-dashboard-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -623px !important
}

.sl-leftsort-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -651px !important
}

.sl-leftsort-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -649px !important
}

.sl-leftsort-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -649px !important
}

.sl-rightsort-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -675px !important
}

.sl-rightsort-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -674px !important
}

.sl-rightsort-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -674px !important
}

.sl-left-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -697px !important
}

.sl-left-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -695px !important
}

.sl-left-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -695px !important
}

.sl-right-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -720px !important
}

.sl-right-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -718px !important
}

.sl-right-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -718px !important
}

.sl-gauge-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -749px !important
}

.sl-gauge-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -749px !important
}

.sl-gauge-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -749px !important
}

.sl-deskDeals-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -777px !important
}

.sl-deskDeals-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -60px !important
}

.sl-deskDeals-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -777px !important
}

.sl-deskCust-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -803px !important
}

.sl-deskCust-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -103px !important
}

.sl-deskCust-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -803px !important
}

.sl-airFan-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -830px !important
}

.sl-airFan-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -830px !important
}

.sl-airFan-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -830px !important
}

.sl-headset-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -864px !important
}

.sl-headset-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -862px !important
}

.sl-headset-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -862px !important
}

.sl-stamp-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -892px !important
}

.sl-stamp-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -235px !important
}

.sl-stamp-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -892px !important
}

.sl-cost-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -920px !important
}

.sl-cost-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -920px !important
}

.sl-cost-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -920px !important
}

.sl-store-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -950px !important
}

.sl-store-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -323px !important
}

.sl-store-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -950px !important
}

.sl-other-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -980px !important
}

.sl-other-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -366px !important
}

.sl-other-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -980px !important
}

.sl-count-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1009px !important
}

.sl-count-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -411px !important
}

.sl-count-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1009px !important
}

.sl-monitor-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1039px !important
}

.sl-monitor-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -453px !important
}

.sl-monitor-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1039px !important
}

.sl-dustbin-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1068px !important
}

.sl-dustbin-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -85px -499px !important
}

.sl-dustbin-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1068px !important
}

.sl-system-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1099px !important
}

.sl-system-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -543px !important
}

.sl-system-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1099px !important
}
.sl-blend-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -585px !important
}
.sl-advance-blue {
	background: url(icons/sl_icons_2.png) no-repeat;
	background-position: -84px -278px !important
}
.sl-usersolid-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1140px !important
}

.sl-usersolid-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1138px !important
}

.sl-usersolid-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1138px !important
}

.sl-exit-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1159px !important
}

.sl-exit-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1169px !important
}

.sl-exit-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1169px !important
}

.sl-setting-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1201px !important
}

.sl-setting-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1199px !important
}

.sl-setting-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1199px !important
}

.sl-plus-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1229px !important
}

.sl-plus-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1227px !important
}

.sl-plus-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1227px !important
}

.sl-recycle-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1258px !important
}

.sl-recycle-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1256px !important
}

.sl-recycle-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1256px !important
}

.sl-upload-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1285px !important
}

.sl-upload-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1284px !important
}

.sl-upload-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1284px !important
}

.sl-stop-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1314px !important
}

.sl-stop-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1312px !important
}

.sl-stop-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1312px !important
}

.sl-checkok-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1343px !important
}

.sl-checkok-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1341px !important
}

.sl-checkok-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1341px !important
}

.sl-save-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1371px !important
}

.sl-save-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1371px !important
}

.sl-save-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1371px !important
}

.sl-moeney-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1401px !important
}

.sl-moeney-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1399px !important
}

.sl-moeney-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1399px !important
}

.sl-moeneydown-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1429px !important
}

.sl-moeneydown-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1427px !important
}

.sl-moeneydown-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1427px !important
}

.sl-moeneyup-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1460px !important
}

.sl-moeneyup-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1458px !important
}

.sl-moeneyup-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1458px !important
}

.sl-concricle-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -23px -1486px !important
}

.sl-concricle-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -63px -1484px !important
}

.sl-concricle-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -103px -1484px !important
}

.sl-moneyrecycle-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1514px !important
}

.sl-moneyrecycle-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1512px !important
}

.sl-moneyrecycle-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1512px !important
}

.sl-contacts-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1539px !important
}

.sl-contacts-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1537px !important
}

.sl-contacts-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1537px !important
}

.sl-fee-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -24px -1567px !important
}

.sl-fee-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -64px -1565px !important
}

.sl-fee-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1565px !important
}

.sl-download-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -22px -1623px !important
}

.sl-download-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -61px -1623px !important
}

.sl-download-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -102px -1623px !important
}

.sl-switch-black {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -22px -1653px !important
}
.sl-switch-blue {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -62px -1653px !important
}
.sl-switch-white {
	background: url(icons/sl_icons.png) no-repeat;
	background-position: -104px -1653px !important
}
/**==============================================**/
.add-btn {
	background-image: url(icons/operation/add.gif);
}

.layout-1 {
	background-image: url(icons/operation/layout_1_1.gif);
}

.layout-2 {
	background-image: url(icons/operation/layout_2_1.gif);
}

.layout-2-left {
	background-image: url(icons/operation/layout_2_left_1.gif);
}

.layout-2-right {
	background-image: url(icons/operation/layout_2_right_1.gif);
}

.layout-3-center {
	background-image: url(icons/operation/layout_3_center_1.gif);
}

.layout-3 {
	background-image: url(icons/operation/layout_3_1.gif);
}

/* /*menu-iconfont*/
.sl-icon-edu-blue:before { color:#d2c2c1;}

.sl-icon-qingsuan-blue { color:#d2c2c1;}

.sl-icon-xitong3-blue{ color:#d2c2c1;}

.sl-icon-shenpi2-blue{ color:#d2c2c1;}

.sl-icon-xitong4-blue { color:#d2c2c1;}

.sl-icon-xitong-blue { color:#d2c2c1;}

.sl-icon-shiqian-blue { color:#d2c2c1;}

.sl-icon-xitong2-blue { color:#d2c2c1;}

.sl-icon-jiaoyi-blue { color:#d2c2c1;}

.sl-icon-goudui-blue { color:#d2c2c1;}

.sl-icon-shezhi-blue { color:#d2c2c1;}

.sl-icon-shenpi-blue { color:#d2c2c1;}

.sl-icon-baojia-blue{ color:#d2c2c1;}

.sl-icon-baobiao-blue{ color:#d2c2c1;}

.sl-icon-canshu-blue{ color:#d2c2c1;}

.sl-icon-cunxu-blue{ color:#d2c2c1;}

.sl-icon-zongjiaoyi-blue{ color:#d2c2c1;}

.sl-icon-piliang-blue:before{ color:#d2c2c1;}  */           

{ color:#4285f4;}/*Blue*/

{ color:#4285f4;}/*Yellow*/

{ color:#e5473c;}/*red*/

{ color:#34a853;}/*Green*/
