@charset "UTF-8";

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
}

a {
	background: transparent;
	text-decoration: none;
	color: #08c;
}

a:active,a:hover {
	outline: 0;
}

a:hover {
	color: #006699;
}

img {
	border: none;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button,select {
	text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

button[disabled],html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button
	{
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none;
}

input {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none;
}

textarea {
	overflow: auto;
	resize: vertical;
	resize: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,th {
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,form,blockquote {
	margin: 0;
}

ul,ol,dl,dd {
	margin: 0;
	padding: 0;
}

ul,ol {
	list-style: none outside none;
}

h1,h2,h3 {
	line-height: 2;
	font-weight: 400;
}

h1 {
	font-size: 17px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 13px;
}

h4 {
	font-size: 12px;
}

h5,h6 {
	font-size: 12px;
	text-transform: uppercase;
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #ccc;
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #ccc;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #ccc;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #ccc;
}

a {
	blr: expression(this.onFocus = this.blur () )
}

a {
	outline: none;
}

em,i {
	font-style: normal;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.al {
	text-align: left;
}

.ar {
	text-align: right;
}

.pl_10 {
	padding-left: 10px;
}

.pr_10 {
	padding-right: 10px;
}

.mr_10 {
	margin-right: 10px;
}

.ml_10 {
	margin-left: 10px;
}

.pl_15 {
	padding-left: 15px;
}

.pr_15 {
	padding-right: 15px;
}

.mr_15 {
	margin-right: 15px;
}

.ml_15 {
	margin-left: 15px;
}

.box1 {
	padding: 0 20px;
	margin-top: 20px;
}

.box1 h1 {
	font-size: 13px;
}

.box2 h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	border-bottom: solid 1px #ccc;
/* 	margin-bottom: 20px; */
}

.product {
	width: 128px;
	height: 100px;
	background: #fff;
/* 	border: 1px solid #ffe8e8; */
/* 	box-shadow: 0px 0px 2px #ddd; */
/* 	margin-bottom: 10px; */
	cursor: pointer;
/* 	margin-right: 15px; */
	float: left;
}

.product_lf {
	width: 125px;
	height: 100px;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.product_rt {
	width: 125px;
/* 	height: 14px; */
/* 	box-sizing: border-box; */
/* 	padding: 0 15px; */
/* 	display: table; */
/*    margin-top: 5px;*/
}

.product_rt a {
	width: 100%;
/* 	display: table-cell; */
	text-align: center;
/* 	vertical-align: middle; */       
	color: #333;
}

/* .fk {
	display: inline-block;
	vertical-align: middle;
	width: 5px;
	height: 20px;
	background-color: #1097fa;
	border-radius: 3px;
	position: relative;
	top: -2px;
	margin-right: 5px;
} */
.product_bg{
	background: url(images/bg-l.png) no-repeat ;
}
/*正式交易台*/
.product_transaction_1 {
	background: url(images/product_transaction_1.png) no-repeat 0 0;
}

.product_transaction_2 {
	background: url(images/product_transaction_2.png) no-repeat 0 0;
}

.product_transaction_3 {
	background: url(images/product_transaction_3.png) no-repeat 0 0;
}

.product_transaction_4 {
	background: url(images/product_transaction_4.png) no-repeat 0 0;
}

.product_transaction_5 {
	background: url(images/product_transaction_5.png) no-repeat 0 0;
}

.product_transaction_6 {
	background: url(images/product_transaction_6.png) no-repeat 0 0;
}

.product_transaction_7 {
	background: url(images/product_transaction_7.png) no-repeat 0 0;
}

.product_transaction_8 {
	background: url(images/product_transaction_8.png) no-repeat 0 0;
}

.product_transaction_9 {
	background: url(images/product_transaction_9.png) no-repeat 0 0;
}

.product_transaction_10 {
	background: url(images/product_transaction_10.png) no-repeat 0 0;
}

.product_transaction_11 {
	background: url(images/product_transaction_11.png) no-repeat 0 0;
}

.product_transaction_12 {
	background: url(images/product_transaction_12.png) no-repeat 0 0;
}

.product_transaction_13 {
	background: url(images/product_transaction_13.png) no-repeat 0 0;
}

.product_transaction_14 {
	background: url(images/product_transaction_14.png) no-repeat 0 0;
}

.product_transaction_15 {
	background: url(images/product_transaction_15.png) no-repeat 0 0;
}

.product_transaction_16 {
	background: url(images/product_transaction_16.png) no-repeat 0 0;
}

.product_transaction_17 {
	background: url(images/product_transaction_17.png) no-repeat 0 0;
}

/*会计核算台*/
.product_accountant_1 {
	background: url(images/product_accountant_1.png) no-repeat 0 0;
}

.product_accountant_2 {
	background: url(images/product_accountant_2.png) no-repeat 0 0;
}

.product_accountant_3 {
	background: url(images/product_accountant_3.png) no-repeat 0 0;
}

.product_accountant_4 {
	background: url(images/product_accountant_4.png) no-repeat 0 0;
}

.product_accountant_5 {
	background: url(images/product_accountant_5.png) no-repeat 0 0;
}

.product_accountant_6 {
	background: url(images/product_accountant_6.png) no-repeat 0 0;
}

.product_accountant_7 {
	background: url(images/product_accountant_7.png) no-repeat 0 0;
}

.product_accountant_8 {
	background: url(images/product_accountant_8.png) no-repeat 0 0;
}

.product_accountant_9 {
	background: url(images/product_accountant_9.png) no-repeat 0 0;
}

.product_accountant_10 {
	background: url(images/product_accountant_10.png) no-repeat 0 0;
}

.product_accountant_11 {
	background: url(images/product_accountant_11.png) no-repeat 0 0;
}

.product_accountant_12 {
	background: url(images/product_accountant_12.png) no-repeat 0 0;
}

.product_accountant_13 {
	background: url(images/product_accountant_13.png) no-repeat 0 0;
}

.product_accountant_14 {
	background: url(images/product_accountant_14.png) no-repeat 0 0;
}

/*清算管理台*/
.product_liquidation_1 {
	background: url(images/product_liquidation_1.png) no-repeat 0 0;
}

.product_liquidation_2 {
	background: url(images/product_liquidation_2.png) no-repeat 0 0;
}

.product_liquidation_3 {
	background: url(images/product_liquidation_3.png) no-repeat 0 0;
}

.product_liquidation_4 {
	background: url(images/product_liquidation_4.png) no-repeat 0 0;
}

.product_liquidation_5 {
	background: url(images/product_liquidation_5.png) no-repeat 0 0;
}

.product_liquidation_6 {
	background: url(images/product_liquidation_6.png) no-repeat 0 0;
}

.product_liquidation_7 {
	background: url(images/product_liquidation_7.png) no-repeat 0 0;
}

.product_liquidation_8 {
	background: url(images/product_liquidation_8.png) no-repeat 0 0;
}

/*配置管理台*/
.product_configuration_1 {
	background: url(images/product_configuration_1.png) no-repeat 0 0;
}

.product_configuration_2 {
	background: url(images/product_configuration_2.png) no-repeat 0 0;
}

.product_configuration_3 {
	background: url(images/product_configuration_3.png) no-repeat 0 0;
}

.product_configuration_4 {
	background: url(images/product_configuration_4.png) no-repeat 0 0;
}

.product_configuration_5 {
	background: url(images/product_configuration_5.png) no-repeat 0 0;
}

.product_configuration_6 {
	background: url(images/product_configuration_6.png) no-repeat 0 0;
}

.product_configuration_7 {
	background: url(images/product_configuration_7.png) no-repeat 0 0;
}

.product_configuration_8 {
	background: url(images/product_configuration_8.png) no-repeat 0 0;
}

.product_configuration_9 {
	background: url(images/product_configuration_9.png) no-repeat 0 0;
}

.product_configuration_10 {
	background: url(images/product_configuration_10.png) no-repeat 0 0;
}

.product_configuration_11 {
	background: url(images/product_configuration_11.png) no-repeat 0 0;
}

.product_configuration_12 {
	background: url(images/product_configuration_12.png) no-repeat 0 0;
}

.product_configuration_13 {
	background: url(images/product_configuration_13.png) no-repeat 0 0;
}

.product_configuration_14 {
	background: url(images/product_configuration_14.png) no-repeat 0 0;
}

.product_configuration_15 {
	background: url(images/product_configuration_15.png) no-repeat 0 0;
}

.product_configuration_16 {
	background: url(images/product_configuration_16.png) no-repeat 0 0;
}

.product_configuration_17 {
	background: url(images/product_configuration_17.png) no-repeat 0 0;
}

.product_configuration_18 {
	background: url(images/product_configuration_18.png) no-repeat 0 0;
}
.product_configuration_19 {
	background: url(images/product_configuration_19.png) no-repeat 0 0;
}
.product_configuration_20 {
	background: url(images/product_configuration_20.png) no-repeat 0 0;
}

/*系统管理台*/
.product_system_1 {
	background: url(images/product_system_1.png) no-repeat 0 0;
}

.product_system_2 {
	background: url(images/product_system_2.png) no-repeat 0 0;
}

.product_system_3 {
	background: url(images/product_system_3.png) no-repeat 0 0;
}

.product_system_4 {
	background: url(images/product_system_4.png) no-repeat 0 0;
}

.product_system_5 {
	background: url(images/product_system_5.png) no-repeat 0 0;
}

.product_system_6 {
	background: url(images/product_system_6.png) no-repeat 0 0;
}

.product_system_7 {
	background: url(images/product_system_7.png) no-repeat 0 0;
}

.product_system_8 {
	background: url(images/product_system_8.png) no-repeat 0 0;
}

.product_system_9 {
	background: url(images/product_system_9.png) no-repeat 0 0;
}

.product_system_10 {
	background: url(images/product_system_10.png) no-repeat 0 0;
}

.product_system_11 {
	background: url(images/product_system_11.png) no-repeat 0 0;
}

.product_system_12 {
	background: url(images/product_system_12.png) no-repeat 0 0;
}

.product_system_13 {
	background: url(images/product_system_13.png) no-repeat 0 0;
}

.product_system_14 {
	background: url(images/product_system_14.png) no-repeat 0 0;
}

/*存续管理台*/
.product_survival_1 {
	background: url(images/product_survival_1.png) no-repeat 0 0;
}

.product_survival_2 {
	background: url(images/product_survival_2.png) no-repeat 0 0;
}

.product_survival_3 {
	background: url(images/product_survival_3.png) no-repeat 0 0;
}

.product_survival_4 {
	background: url(images/product_survival_4.png) no-repeat 0 0;
}

.product_survival_5 {
	background: url(images/product_survival_5.png) no-repeat 0 0;
}

.product_survival_6 {
	background: url(images/product_survival_6.png) no-repeat 0 0;
}

.product_survival_7 {
	background: url(images/product_survival_7.png) no-repeat 0 0;
}

.product_survival_8 {
	background: url(images/product_survival_8.png) no-repeat 0 0;
}

.product_survival_9 {
	background: url(images/product_survival_9.png) no-repeat 0 0;
}

.product_survival_10 {
	background: url(images/product_survival_10.png) no-repeat 0 0;
}

.product_survival_11 {
	background: url(images/product_survival_11.png) no-repeat 0 0;
}

.product_survival_12 {
	background: url(images/product_survival_12.png) no-repeat 0 0;
}
.product_survival_13 {
	background: url(images/product_survival_13.png) no-repeat 0 0;
}

/*客户管理台*/
.product_customerMang_1 {
	background: url(images/product_customerMang_1.png) no-repeat 0 0;
}

/*综合查询台*/
.product_integratedQuery_1 {
	background: url(images/product_integratedQuery_1.png) no-repeat 0 0;
}

.product_integratedQuery_2 {
	background: url(images/product_integratedQuery_2.png) no-repeat 0 0;
}

.product_integratedQuery_3 {
	background: url(images/product_integratedQuery_3.png) no-repeat 0 0;
}

.product_integratedQuery_4 {
	background: url(images/product_integratedQuery_4.png) no-repeat 0 0;
}

.product_integratedQuery_5 {
	background: url(images/product_integratedQuery_5.png) no-repeat 0 0;
}

.product_integratedQuery_6 {
	background: url(images/product_integratedQuery_6.png) no-repeat 0 0;
}

.product_integratedQuery_7 {
	background: url(images/product_integratedQuery_7.png) no-repeat 0 0;
}

.product_integratedQuery_8 {
	background: url(images/product_integratedQuery_8.png) no-repeat 0 0;
}

.product_integratedQuery_9 {
	background: url(images/product_integratedQuery_9.png) no-repeat 0 0;
}

.product_integratedQuery_10 {
	background: url(images/product_integratedQuery_10.png) no-repeat 0 0;
}

.product_integratedQuery_11 {
	background: url(images/product_integratedQuery_11.png) no-repeat 0 0;
}

.product_integratedQuery_12 {
	background: url(images/product_integratedQuery_12.png) no-repeat 0 0;
}

.product_integratedQuery_13 {
	background: url(images/product_integratedQuery_13.png) no-repeat 0 0;
}

/* 徽商-交易管理台 */
.product_trading_1 {
	background: url(images/product_trading_1.png) no-repeat 0 0;
}
.product_trading_2 {
	background: url(images/product_trading_2.png) no-repeat 0 0;
}
.product_trading_3 {
	background: url(images/product_trading_3.png) no-repeat 0 0;
}
.product_trading_4 {
	background: url(images/product_trading_4.png) no-repeat 0 0;
}
.product_trading_5 {
	background: url(images/product_trading_5.png) no-repeat 0 0;
}
.product_trading_6 {
	background: url(images/product_trading_6.png) no-repeat 0 0;
}
.product_trading_7 {
	background: url(images/product_trading_7.png) no-repeat 0 0;
}
.product_trading_8 {
	background: url(images/product_trading_8.png) no-repeat 0 0;
}
.product_trading_9 {
	background: url(images/product_trading_9.png) no-repeat 0 0;
}
.product_trading_10 {
	background: url(images/product_trading_10.png) no-repeat 0 0;
}
.product_trading_11 {
	background: url(images/product_trading_11.png) no-repeat 0 0;
}
.product_trading_12 {
	background: url(images/product_trading_12.png) no-repeat 0 0;
}
.product_trading_13 {
	background: url(images/product_trading_13.png) no-repeat 0 0;
}
.product_trading_14 {
	background: url(images/product_trading_14.png) no-repeat 0 0;
}
.product_trading_15 {
	background: url(images/product_trading_15.png) no-repeat 0 0;
}
.product_trading_16 {
	background: url(images/product_trading_16.png) no-repeat 0 0;
}
.product_trading_17 {
	background: url(images/product_trading_17.png) no-repeat 0 0;
}
.product_trading_18 {
	background: url(images/product_trading_18.png) no-repeat 0 0;
}
.product_trading_19 {
	background: url(images/product_trading_19.png) no-repeat 0 0;
}

/* 徽商-清算管理台 */
.product_repay_1 {
	background: url(images/product_repay_1.png) no-repeat 0 0;
}
.product_repay_2 {
	background: url(images/product_repay_2.png) no-repeat 0 0;
}
.product_repay_3 {
	background: url(images/product_repay_3.png) no-repeat 0 0;
}
.product_repay_4 {
	background: url(images/product_repay_4.png) no-repeat 0 0;
}
.product_repay_5 {
	background: url(images/product_repay_5.png) no-repeat 0 0;
}
.product_repay_6 {
	background: url(images/product_repay_6.png) no-repeat 0 0;
}
.product_repay_7 {
	background: url(images/product_repay_7.png) no-repeat 0 0;
}

/* 徽商-账务管理台 */
.product_financial_1 {
	background: url(images/product_financial_1.png) no-repeat 0 0;
}
.product_financial_2 {
	background: url(images/product_financial_2.png) no-repeat 0 0;
}

/* 徽商-系统管理台 */
.product_systematic_1 {
	background: url(images/product_systematic_1.png) no-repeat 0 0;
}
.product_systematic_2 {
	background: url(images/product_systematic_2.png) no-repeat 0 0;
}
.product_systematic_3 {
	background: url(images/product_systematic_3.png) no-repeat 0 0;
}
.product_systematic_4 {
	background: url(images/product_systematic_4.png) no-repeat 0 0;
}
.product_systematic_5 {
	background: url(images/product_systematic_5.png) no-repeat 0 0;
}
.product_systematic_6 {
	background: url(images/product_systematic_6.png) no-repeat 0 0;
}
.product_systematic_7 {
	background: url(images/product_systematic_7.png) no-repeat 0 0;
}
.product_systematic_8 {
	background: url(images/product_systematic_8.png) no-repeat 0 0;
}
.product_systematic_9 {
	background: url(images/product_systematic_9.png) no-repeat 0 0;
}
.product_systematic_10 {
	background: url(images/product_systematic_10.png) no-repeat 0 0;
}
.product_systematic_11 {
	background: url(images/product_systematic_11.png) no-repeat 0 0;
}
.product_systematic_12 {
	background: url(images/product_systematic_12.png) no-repeat 0 0;
}
.product_systematic_13 {
	background: url(images/product_systematic_13.png) no-repeat 0 0;
}
.product_systematic_14 {
	background: url(images/product_systematic_14.png) no-repeat 0 0;
}
.product_systematic_15 {
	background: url(images/product_systematic_15.png) no-repeat 0 0;
}
.product_systematic_16 {
	background: url(images/product_systematic_16.png) no-repeat 0 0;
}
.product_systematic_17 {
	background: url(images/product_systematic_17.png) no-repeat 0 0;
}
.product_systematic_18 {
	background: url(images/product_systematic_18.png) no-repeat 0 0;
}
.product_systematic_19 {
	background: url(images/product_systematic_19.png) no-repeat 0 0;
}
.product_systematic_20 {
	background: url(images/product_systematic_20.png) no-repeat 0 0;
}
.product_systematic_21 {
	background: url(images/product_systematic_21.png) no-repeat 0 0;
}
.product_systematic_22 {
	background: url(images/product_systematic_22.png) no-repeat 0 0;
}
.product_systematic_23 {
	background: url(images/product_systematic_23.png) no-repeat 0 0;
}
.product_systematic_24 {
	background: url(images/product_systematic_24.png) no-repeat 0 0;
}
.product_systematic_25 {
	background: url(images/product_systematic_25.png) no-repeat 0 0;
}
.product_systematic_26 {
	background: url(images/product_systematic_26.png) no-repeat 0 0;
}
.product_systematic_27 {
	background: url(images/product_systematic_27.png) no-repeat 0 0;
}
.product_systematic_28 {
	background: url(images/product_systematic_28.png) no-repeat 0 0;
}
.product_systematic_29 {
	background: url(images/product_systematic_29.png) no-repeat 0 0;
}
.product_systematic_30 {
	background: url(images/product_systematic_30.png) no-repeat 0 0;
}
.product_systematic_31 {
	background: url(images/product_systematic_31.png) no-repeat 0 0;
}

