﻿.panel_btn
{
    width:266px;
    height:98px;
    border:1px solid #fff;
    box-shadow:0px 0px 2px #ddd; 
    background:#fff; 
    margin-bottom:20px; 
    cursor:pointer;
    font-size:16px;
    color:#666666; 
    position:relative;
}
.panel_btn:hover
{
    border:1px solid #1097fa;    
}
.panel_btn:active
{
    border:1px solid #1097fa;    
}

.panel_btn_lf
{
    position:absolute; 
    top:18px;
    left:35px;   
}

.panel_btn_lf span
{
    color:#cccccc;
    font-family:Arial;
    font-size:36px;    
}
.panel_btn_rt
{
    position:absolute;
    top:11px;
    right:35px;
    width:75px;
    height:75px;    
}
.panel_btn.a .panel_btn_rt
{
    background: url('images/panel_btn-1.png') no-repeat 0 0;      
}
.panel_btn.b .panel_btn_rt
{
    background: url('images/panel_btn-2.png') no-repeat 0 0;      
}
.panel_btn.c .panel_btn_rt
{
    background: url('images/panel_btn-3.png') no-repeat 0 0;      
}
.panel_btn.d .panel_btn_rt
{
    background: url('images/panel_btn-4.png') no-repeat 0 0;      
}
.panel_btn.e .panel_btn_rt
{
    background: url('images/panel_btn-5.png') no-repeat 0 0;      
}
.panel_btn.f .panel_btn_rt
{
    background: url('images/panel_btn-6.png') no-repeat 0 0;      
}




.select_content_title
{
    border-bottom:1px solid #ccc;
    font-weight:400;
    font-size:16px;    
}
.select_content_bar
{
    height:210px;
    border-bottom:1px solid #ccc;    
}
.select_content_header
{
    height:80px;
    position:relative;
}
.btn_bar
{
    position:absolute;
    top:20px;
    left:2px;    
}
.select_content_header .title
{
    position:absolute;
    top:25px;
    left:90px;   
    font-size:18px;
    font-weight:400; 
}
.select_content_header .number
{
    position:absolute;
    color:#333;
    top:25px;
    right:35px;   
    font-size:16px;
    font-family:微软雅黑;
    text-indent:20px; 
    background:url('images/select_content_header-number.png') no-repeat 0 3px;
    
}

.select_content_main
{
    height:80px;
    font-size:16px;
    font-family:微软雅黑;
    color:#333;    
}
.select_content_footer a
{
    float:right;
    display:inline-block;
    padding-left:10px;
    cursor:pointer;
    color:#1097fa;    
}
.select_content_footer a:hover
{
    color:#0a69af;    
}
.select_content_footer .pen
{
    width:20px;
    height:20px;
    background:url('images/pen.png') no-repeat 0px 0px;    
}

.diy_pager
{
    height:85px; 
    line-height:85px;     
}

.diy_pager .page_number
{
    color:#787c7c;
    font-size:16px;
    font-family:微软雅黑; 
    width:20px;
    height:20px;
    display:inline-block;
    line-height:20px;
    text-align:center; 
    cursor:default;  
}
.diy_pager .page_number:hover
{
    background:#2196ed;
    border-radius:50% 50%; 
    color:#fff;  
}
.diy_pager .prepage,
.diy_pager .nextpage
{
    cursor:default;
    margin:0 5px;
}
.diy_pager .prepage:hover,
.diy_pager .nextpage:hover
{
    color:#2196ed;   
}


