html, body {
    /* height: 100%;
    width: 100%;
    margin: 0;
    padding: 0!important; */
    font-family: "Microsoft YaHei";
}

/* body {
    background: url('images/bg.png') no-repeat top center !important;
    width:100%;
    min-width:1349px;
    min-height:1080px;
    position: absolute;
} */

.main 
{
    top: 60px;
    right: 0px;
    left: 0px; 
    bottom: 0px;
    position: absolute;
/*     background-color:rgb(255,255,255,0.5); */
}

.input_bar
{
    display: inline-block;
    position: relative;    
    /* background: url("images/default.png") no-repeat 0 0; */ 
}

.name_text,
.password_img {
    font-size: 12px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 14px;
    top: 11px;
    z-index:999;
}

.arrow {
    position: absolute;
    top:5px;
    left:239px;
    height: 50px;
    display: inline-block;
    width: 50px ;
    background: url('images/arrow3.png') no-repeat 50% 50%;
    cursor:pointer;
}
.login-title {
    /* text-indent: 90px;
    margin: 0 auto;
    position: relative */;
    width: auto;
    height: 80px;
    /* margin-top:50px */;
}
.login-text {
    font-size: 28px;
    font-family: "Adobe Heiti Std";
    color: rgb(255, 255, 255);
    line-height: 1;
    font-weight: 400;
    text-align: center;
}
.mini-textbox,
.mini-buttonedit 
{
    height: 46px;
    width: 250px;
    /*box-shadow:0 0 10px #06c;*/
    /* background:url("images/default.png") no-repeat 0 0; */
    position:relative;
}
.mini-textbox-border,
.mini-buttonedit-border  
{
    height: 30px;
   /* padding: 11px 13px 11px 14px;*/
    padding:0;
    border:0;
    width:230px;
    position:absolute;
    top:11px;
    left:10px;
    background:transparent;
    border:solid 1px #d9d9d9;
}
.mini-textbox-border:hover,
.mini-textbox-focus .mini-textbox-border
{
    background:transparent;
}
.mini-textbox-input
{
    text-indent:80px;      
}

/*.mini-buttonedit 
{
    height: 72px;
    width: 311px;
    box-shadow:0 0 10px #06c;
    background:url("images/default.png") no-repeat 0 0;
    position:relative;
}
.mini-buttonedit-border 
{
    height: 72px;
    padding: 11px 13px 11px 14px;
    border:0;
    width: 311px;
    background:url("images/default.png") no-repeat 0 0;
}*/

.mini-required .mini-textbox-border, 
.mini-required .mini-buttonedit-border {
    background:transparent;
}

.mini-buttonedit-input {
    height: 30px;
    line-height: 30px;
    text-indent:80px;
}

.mini-combobox .mini-buttonedit-button 
{
    height: 36px;
    background:transparent;
}
.mini-combobox .mini-buttonedit-button-hover,
.mini-combobox .mini-buttonedit-hover .mini-buttonedit-trigger,
.mini-combobox .mini-buttonedit-button-pressed,
.mini-combobox .mini-buttonedit-popup .mini-buttonedit-trigger
{
	color:#444;			
    background:transparent;    
    border-color:transparent;
}

.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon 
{
    background: url('images/combo_arrow.png') no-repeat 1px 4px; 
}
/* body .mini-invalid.mini-textbox,  */
/* body .mini-invalid.mini-buttonedit  */
/* { */
/*     background: url("images/error1.png") no-repeat 0 0; */
    
    
/* } */
/* body .mini-invalid .mini-textbox-border,  */
/* body .mini-invalid .mini-buttonedit-border */
/* { */
/*     border:0;  */
/*     background:transparent;    */
/* } */
.mini-buttonedit-input
{
    color:#000;
    font-family: "Microsoft YaHei";
    font-size:12px;
}

.mini-listbox-item-selected td 
{
    background: #1097fa;
    color: #fff;
}

.mini-placeholder-label, .mini-textbox-input {
    padding: 0;
    line-height: 30px;
    height: 30px;
    border: none;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

/* .circle {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/PSD2.png') no-repeat 50% -50px;
} */
.form_bar{
	/* width:360px; */
	margin:0 auto;
/* 	padding:10px 30px; */
/* 	border:solid 1px #fff;*/
	/* border-radius:8px;
 	background-color:white; */
	/* background: transparent\8;
	    zoom:1\8;
	    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,    endColorstr=#99ffffff); */
}








/* New */
html {
	font-family: Arial, Sans-Serif, Verdana, Helvetica;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background: #F7F7F7;
	color: #6f7583;
}

body {
	padding: 0px;
	margin: 0px;
	background: #F7F7F7;
	text-align: left;
	color: #6f7583;
}

input[type=button],input[type=submit],input[type=reset],input[type=text],input[type=password]{
	-webkit-appearance:none;
	outline:none;
	border-radius: none;
}

a, a:link, a:hover, a:visited {
	text-decoration: none;
	outline: none;
	border: none;
	color: #0f51b2;
	font-weight: 400;
}

#main_bg, #login_form_inner {
	position: absolute;
	height: 500px;
	width: 100%;
	top: 50%;
	margin-top: -250px;
}

#main_bg {
	position: absolute;
	width: 100%;
	top: 50%;
	/* background: #0f51b2 url('images/main_bg.jpg') no-repeat center center; */
	background: #e6515e url('images/main_bg3.png') no-repeat center center;
	/* background: #e6515e url('images/main_bg2.png') no-repeat center center; */
	background-size: cover;
}

#login_bg {
	position: absolute;
	width: 800px;
	height: 100%;
	left: 50%;
	margin-left: -400px;
/* 	background: url('images/logo.png') no-repeat left center; */
}

#login_form_outer {
	position: absolute;
	right: 0px;
	width: 260px;
	height: 100%;
	/* background: #1060b9; */
	background: #e6515e;
}

#copyright {
	position: absolute;
	width: 100%;
	bottom: 10px;
	color: #FFF;
	text-align: center;
	z-index: 1;
}

#copyright a {
	color: #FFF;
}

a:hover {
	color: #f08200 !important;
}

#login_form_inner {
	background: #F4F4F4;
	z-index: 2;
}

#banner {
	height: 40px;
	margin: 30px 0 30px 0;
/* 	background: url('banner.png') no-repeat center center; */
}

#login_form {
	padding: 0 20px;
}

#forget_pass {
	margin: 20px 0 10px 0;
}

.login_input_wrap {
	border: 1px solid #DFDFDF;
	border-bottom: 1px solid #DCDCDC;
	padding: 0 0 0 30px;
	margin: 5px 0;
	overflow: hidden;
}

.username_wrap {
	background: #ebebeb url('username.png') no-repeat 3px center;
}

.password_wrap {
	background: #ebebeb url('password.png') no-repeat 3px center;
}

.captcha_wrap {
	background: #ebebeb url('captcha.png') no-repeat 3px center;
}

input.login_input {
	width: 177px;
	height: 30px;
	line-height: 30px;
	outline: none;
	border: none;
	padding: 0 5px;
	border-left: 1px solid #DFDFDF;
}

#login_message {
	overflow: hidden;
	margin-top: 20px;
}

#login_btn {
	float: left;
	background: #00a0e9;
	padding: 10px 35px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
}

#message {
	float: left;
	padding: 10px 0px 10px 10px;
	color: #EE0000;
}

#captcha-input {
	width: 77px;
	height: 30px;
	line-height: 30px;
	outline: none;
	border: none;
	padding: 0 5px;
	border-left: 1px solid #DFDFDF;
}

#captcha-image {
	float: right;
	width: 60px;
	height: 30px;
	background: #FFF;
	cursor: pointer;
}

#rememberMe {
	margin: 5px 0 25px 0;
}

.rememberMe_checkbox, .rememberMe_label {
	vertical-align: middle;
	outline: none;
}

#other_system {
	position: absolute;
	text-align: center;
	width: 220px;
	bottom: 10px;
}

#other_system h6 {
	text-align: center;
	margin: 15px 0;
	background: url('sep.png') repeat-x left center;
}

#other_system h6 span {
	color: #AAA;
	font-weight: 400;
	background: #F7F7F7;
	padding: 0 5px;
}

#other_system img {
	margin: 5px;
	border: none;
	outline: none;
}

#qr {
	position: absolute;
	display: none;
	border: 1px solid #CCC !important;
	padding: 10px;
	top: -80px;
	right: -160px;
	background: #FFF;
}

#register {
	margin-top: 20px;
	text-align: left;
}

.login_logo {
	position: absolute;
	top:36%;
	left: 0px;
	width: 500px;	
	color:#fff;
}