h3
{
    text-align:center;   
}
.fixed_bar
{
    width:98px;
    position:fixed;
    right:20px;
    top:150px;
    z-index:999;    
}
.fixed_bar div
{
    background:#ffd4c1;
    height:32px;
    width:98px;
    line-height:32px;
    text-align:center;
    margin-bottom:10px; 
}
